<div ng-controller="attachmentSectionCtrl">
	<div class="left secHeader">ATTACHMENTS</div>
	<!--<div class="right">
		<div class="right">
			<a href="javascript:void(0)" class="icon iconSmall blue-text marginLeft15">
				<svg>
					<use xlink:href="#icon_TrashCan"></use>
				</svg>
			</a>
			<a href="javascript:void(0)" class="icon iconSmall blue-text marginLeft15">
				<svg>
					<use xlink:href="#icon_Download"></use>
				</svg>
			</a>
			<a href="javascript:void(0)" data-tooltip="Upload New Attachment" class="icon iconSmall blue-text marginLeft15" ng-click="attachmentPopUp($event)">
				<svg>
					<use xlink:href="#icon_CirclePlus"></use>
				</svg>
			</a>
		</div>
	</div>-->
</div>
