<div id="categoryPopup" class="">
	<div class="modal-header">
		<div class="regularSearch">
			<a href="javascript:void(0)" class="waves-circle waves-effect search-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{$label.search}}" alt="Search">
				<i class="icon iconSmall left grey-text">
					<svg>
						<use xlink:href="#icon_Search"></use>
					</svg>
				</i>
			</a>
			<a href="javascript:void(0)" class="waves-circle waves-effect cancel-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{$label.reset}}" alt="Reset">
				<i class="icon iconSmall left grey-text">
					<svg>
						<use xlink:href="#icon_Close"></use>
					</svg>
				</i>
			</a>
			<div class="input-field">
				<input id="Text39" type="text" class="validate" placeholder="CATEGORY">
			</div>
		</div>
		<i class="icon iconSmall grey-text left">
			<svg>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Lookup"></use>
			</svg>
		</i>
		<span class="title">ADD CATEGORY</span>
	</div>
	<div class="modal-content padding0">
		<div class="model_body">
			<div class="option-container scrollbar-outer" style="max-height: 350px;">
				<ul class="tree-view-str">
					<li>
						<div class=" tree-view-str-item waves-effect">
							<span class="tree_view_content">
								<span>Business Travels</span>
								<i class="icon iconSmall right is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
					</li>
					<li>
						<div class=" tree-view-str-item waves-effect">
							<i class="icon iconSmall left tree-view-str-collapsible-trigger">
								<svg>
									<use xlink:href="#icon_CirclePlus"></use>
								</svg>
							</i>
							<span class="tree_view_content">
								<span>Fleet and Vehicles</span>
								<i class="icon iconSmall right icon-check is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
						<ul class=" is-hide">
							<li>
								<div class=" tree-view-str-item waves-effect">
									<i class="icon iconSmall left tree-view-str-collapsible-trigger">
										<svg>
											<use xlink:href="#icon_CirclePlus"></use>
										</svg>
									</i>
									<span class="tree_view_content">
										<span>Robin Ross</span>
										<i class="icon iconSmall right icon-check  is-hide">
											<svg>
												<use xlink:href="#icon_Check"></use>
											</svg>
										</i>
									</span>
								</div>

								<ul class=" is-hide">
									<li>
										<div class=" tree-view-str-item waves-effect">
											<i class="icon iconSmall left tree-view-str-collapsible-trigger">
												<svg>
													<use xlink:href="#icon_CirclePlus"></use>
												</svg>
											</i>
											<span class="tree_view_content">
												<span>Shane Bond</span>
												<i class="icon iconSmall right icon-check is-hide">
													<svg>
														<use xlink:href="#icon_Check"></use>
													</svg>
												</i>
											</span>
										</div>
										<ul class=" is-hide">
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall icon-check is-hide right">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall right icon-check is-hide">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall right icon-check is-hide">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<div class=" tree-view-str-item waves-effect">
							<span class="tree_view_content">
								<span>Business Travels</span>
								<i class="icon iconSmall right is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
					</li>
					<li>
						<div class=" tree-view-str-item waves-effect">
							<i class="icon iconSmall left tree-view-str-collapsible-trigger">
								<svg>
									<use xlink:href="#icon_CirclePlus"></use>
								</svg>
							</i>
							<span class="tree_view_content">
								<span>Fleet and Vehicles</span>
								<i class="icon iconSmall right icon-check is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
						<ul class=" is-hide">
							<li>
								<div class=" tree-view-str-item waves-effect">
									<i class="icon iconSmall left tree-view-str-collapsible-trigger">
										<svg>
											<use xlink:href="#icon_CirclePlus"></use>
										</svg>
									</i>
									<span class="tree_view_content">
										<span>Robin Ross</span>
										<i class="icon iconSmall right icon-check  is-hide">
											<svg>
												<use xlink:href="#icon_Check"></use>
											</svg>
										</i>
									</span>
								</div>
								<ul class=" is-hide">
									<li>
										<div class=" tree-view-str-item waves-effect">
											<i class="icon iconSmall left tree-view-str-collapsible-trigger">
												<svg>
													<use xlink:href="#icon_CirclePlus"></use>
												</svg>
											</i>
											<span class="tree_view_content">
												<span>Shane Bond</span>
												<i class="icon iconSmall right icon-check is-hide">
													<svg>
														<use xlink:href="#icon_Check"></use>
													</svg>
												</i>
											</span>
										</div>
										<ul class=" is-hide">
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall icon-check is-hide right">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall right icon-check is-hide">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
											<li>
												<div class=" tree-view-str-item waves-effect">
													<span class="tree_view_content">
														<span>Fleet and Vehicles</span>
														<i class="icon iconSmall right icon-check is-hide">
															<svg>
																<use xlink:href="#icon_Check"></use>
															</svg>
														</i>
													</span>
												</div>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<div class=" tree-view-str-item waves-effect">
							<span class="category__content">
								<span>Business Travels</span>
								<i class="icon iconSmall right is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
					</li>
					<li>
						<div class=" tree-view-str-item waves-effect">
							<span class="category__content">
								<span>Business Travels</span>
								<i class="icon iconSmall right is-hide">
									<svg>
										<use xlink:href="#icon_Check"></use>
									</svg>
								</i>
							</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="modal-footer_new">
			<div class="row marginBottom0">
				<div class="col l5 s6"><a href="#!" class="waves-effect   btn-flat">Reset</a></div>
				<div class="col l7 s6 right-align">
					<a href="#!" class="btn-flat editRequest modal-close waves-effect">Cancel</a>
					<a href="#!" class=" modal-action modal-close waves-effect   btn-flat">Done</a>
				</div>
			</div>
		</div>
	</div>
</div>
