<div ng-controller="itemDetailPOCtrl">
    <div class="col s12 paddingTop10" data-ng-init='taxExemptOpts=[{"title": "NO","selected": true}, {"title": "YES","selected": false}];matchingOpts=[{"title": "3 Way","selected": true}, {"title": "2 Way","selected": false}]'>
        <div class="container">
            <div class="row marginBtm10">
                <!--<div class="col s12 m6 l6 xl6 xxl6">
                    <div ng-init="showErrorAlert = false" class="">
                        {{'Lines'|| translate}} (42) : {{'Materials'|| translate}} (1) +  {{'Variable Service'|| translate}} (23) | <a href="javascript:void(0)" class="red-text" ng-click="showErrorAlert = !showErrorAlert">60 errors</a>

                    </div>
                </div>-->
                <div class="col s12 m12 l12 xl12 xxl12 right-align">
                    <ul class="panelBox-header--action">

                        <li class="panelBox-header--aLink">
                            <a href="javaScript:void(0)">
                                <i class="icon icon-fix-overlay iconSmall" smart-tooltip position="bottom" delay="50" message="{{'Delete'|| translate}}">
                                    <svg><use xlink:href="#icon_TrashCan"></use></svg>
                                </i>
                            </a>
                        </li>
                        <li class="panelBox-header--aLink">
                            <smart-dropdown config="{{dropDownConfig}}">
                                <a href="javaScript:void(0)" class="dropdown-button" data-activates="tabChargesAttachFilter" data-constrainwidth="false" data-alignment="right" ng-click="manageColumns()">
                                    <i class="icon iconSmall" smart-tooltip position="bottom" delay="50" message="{{'Manage Columns'|| translate}}">
                                        <svg><use xlink:href="#icon_ManageColumns"></use></svg>
                                    </i>
                                </a>
                                <ul id="tabChargesAttachFilter" class="dropdown-content dropdown-content-large  dd-close-off">
                                    <li class="dropdown-content-header ">
                                        <div class="title">{{'MANAGE COLUMNS'|| translate}}</div>
                                    </li>
                                    <li class="padding0 is-scrolled">
                                        <ul class="collection">
                                            <li class="collection-item clearfix" ng-class="{'filled-partial' : fillpartial == true }">
                                                <smart-checkbox label="All" ng-model="selectedAll.selection" fill='true' class="left" ng-click="checkAll(selectedAll.selection)"></smart-checkbox>
                                                <span class="right padding0">({{selectedCount}}) Selected</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-content-content is-scrolled clearfix paddingTop10">
                                        <smart-scroll height="230px" class="inlineList">
                                            <div class="listHolder" ng-style="listHolderWidth">
                                                <div class="left listHolder-width200" ng-repeat="n in cloneDiv(noOfCol) track by $index" ng-init="myIndex = $index">
                                                    <div class="col s12 inlineList-item staggeredRight" ng-repeat="field in itemsColumnized(myIndex) | limitTo:itemsLimit">
                                                        <smart-checkbox  class="label-truncate" title="{{field.lable}}" fill="true" ng-model="field.selected" label="{{field.lable}}" ng-change="onChange(field.selected)"></smart-checkbox>
                                                    </div>
                                                </div>
                                            </div>
                                        </smart-scroll>


                                    </li>
                                    <li class="dropdown-content-footer is-scrolled">
                                        <smart-button config='{"title":"APPLY","flat":true}' flat="true" class="right close-lookup"></smart-button>
                                        <smart-button config='{"title":"CANCEL","flat":true}' flat="true" class="right close-lookup"></smart-button>
                                        <smart-button config='{"title":"Reset","flat":true}' flat="true" ng-click="reset()" class="left"></smart-button>
                                    </li>
                                </ul>
                            </smart-dropdown>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-show="showErrorAlert">
        <div class="row marginBtm0">
            <div class="col s12">
                <!--ng-class="showErrorAlert ? 'animated flipInX' : 'animated flipOutX'"-->
                <div class="alert-bar alert-bar--warning alert-bar--with-button">
                    <div class="left red-text"><span>{{'Validation Error message goes here'|| translate}}</span></div>
                    <div class="right">
                        <i class="icon iconSmall left blue-text" smart-tooltip position="bottom" delay="50" message="Privious">
                            <svg><use xlink:href="#icon_LeftChevron"></use></svg>
                        </i>
                        <i class="icon iconSmall left blue-text" smart-tooltip position="bottom" delay="50" message="Next">
                            <svg><use xlink:href="#icon_RightChevro"></use></svg>
                        </i>
                        <i class="icon iconSmall left blue-text" smart-tooltip position="bottom" delay="50" message="Close" ng-click="showErrorAlert = false">
                            <svg><use xlink:href="#icon_Close"></use></svg>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 padding0">
        <smart-ui-grid col-def="{{chargesAndAllowancesConfig}}" model="chargesAndAllowancesModel" callback="callbackFucn" cell-class-function="cellClass" cell-editable-condition-function="cellEditableCondition"></smart-ui-grid>
    </div>
    <!-- popup -- Add Charges -->
<smart-popup template-url="{{AddChargesAttach}}" show='{{AddChargesAttachPopup}}' on-hide="AddChargesAttachPopupHideCallback(e)"></smart-popup>
</div>

<!-- popup -- apply to all -->
<smart-popup template-url="{{applyToAllUrl}}" show="{{applyToAllPopUp}}" on-hide="applyToAllPopUpClose(e)"></smart-popup>
<!-- popup -- Accounting split -->
<smart-popup template-url="{{splitPopupUrl}}" show='{{splitPopupPopup}}' on-hide="splitPopupPopupHideCallback(e)" type="small"></smart-popup>

