<div class="col s12">
    <a href="javascript:void(0)" ng-click="parentScope.erpReferenceLocationCall()" class="line-height-manager">ERP Location Reference Code</a>
</div>
<!--<smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" type="text"  label="Source System (ERP)" ng-model="erpRef[0].sourceSystem" ng-show="isERPAdded"></smart-textfield>
<smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" type="text"  label="Ordering Location" ng-model="erpRef[0].LocationReferenceCode" ng-show="isERPAdded"></smart-textfield>
<smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" type="text"  label="Remit to Location" ng-model="erpRef[0].OrderingLocation" ng-show="isERPAdded"></smart-textfield>
<smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" type="text" label="ERP Location Reference Code" ng-model="erpRef[0].RemitToLocation" ng-show="isERPAdded"></smart-textfield>-->

