
<div class="col s12 line-height-manager input-field">
    <label class="active">Interface Status</label>
    <span class="blue-text cursorPointer paddingRight5 paddingTop2" style="top: -3px" smart-infotip position="right" template-url="rejectByERPTemplate.html" bind-on="click" mode="click" is-fixed="true">Rejected by ERP</span>

    <script type="text/ng-template" id="rejectByERPTemplate.html">
        <div class="width300 padding10">
            <smart-scroll height="200px">
                <span class="grayed-text">Date and Time: </span><span>4 Jul 2008 12:01:54</span><br />
                <span class="grayed-text">Rejection Reason: </span><span>Document</span><br />
                <span>Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field, Rejected by ERP due to special character in ship to field</span>
            </smart-scroll>
        </div>
    </script>
</div>
