<div class="row marginBottom0 extra-nav-wrap" scrolled ng-class="{'extra-nav-wrap-fixed':fixedSubHeader}">
    <div class="col s12">

		<div class="left">
			  <a class="extra-nav-item waves-circle  waves-effect waves-light left tooltipped" smart-tooltip position="bottom" delay="50" message="{{ 'Back' || translate }}" href="javascript:history.go(-1);">
            <i class="icon iconSmall white-text">
                <svg>
                    <use xlink:href="#icon_Back"></use>
                </svg>
            </i>
        </a>

			  <i class="icon small extra-nav-title--icon">
                <svg>
                    <use xlink:href="#icon_RfxReq"></use>
                </svg>
            </i>

        <span class="extra-nav-title--text">
            {{ 'CHANGE REQUEST (PO123456)' || translate }}
        </span>


		</div>


        <ul class="right extra-nav-right-icon">


			<li class="extra-nav-icon">
                <a class="white-text waves-block waves-effect waves-light" smart-tooltip position="bottom" delay="50" message="{{ 'Print' || translate }}">
                    <i class="icon iconSmall ">
                        <svg>
                            <use xlink:href="#icon_Download"></use>
                        </svg>
                    </i>
                </a>
            </li>
         
            <li class="extra-nav-icon ">
                <a class="white-text waves-block waves-effect waves-light" smart-tooltip position="bottom" delay="50" message="{{ 'Print' || translate }}">
                    <i class="icon iconSmall ">
                        <svg>
                            <use xlink:href="#icon_Print"></use>
                        </svg>
                    </i>
                </a>
            </li>

			<li class="extra-nav-icon">
                <a class="white-text waves-block waves-effect waves-light" smart-tooltip position="bottom" delay="50" message="{{ 'Comments' || translate }}">
                    <i class="icon iconSmall ">
                        <svg>
                            <use xlink:href="#icon_Comments"></use>
                        </svg>
                    </i>
                </a>
            </li>
            
            
            
        </ul>

    </div>
</div>

<section class="clearfix white viewChangePg">

	<div class="row docInfoWrap docInfoWrap--main">
		<div class="docInfo">
			<label class="docInfo-lbl">{{'Order Number:' || translate}}</label>
			<span class="docInfo-val">{{'2014.09099' || translate}}</span>
		</div>		
		<span class="sep">|</span>
		<div class="docInfo notification-massage">
			<label class="docInfo-lbl">{{'Highlights:' || translate}}</label>
			<span class="docInfo-val">{{'Order Amount Changed' || translate}}</span>
			<span class="docInfo-val successes">{{'+24,500 USD' || translate}}</span>
		</div>
		<span class="sep">|</span>
		<div class="docInfo">
			<label class="docInfo-lbl">{{'Last Modified Date:' || translate}}</label>
			<span class="docInfo-val">{{'12 July 2015' || translate}}</span>
		</div>
	</div>
	<div class="docListWrap clearfix">
		<p class="marginBtm25 grey-text text-darken-4 fontSize18 docListWrap-hdr">{{'SUMMARY' || translate}}</p>

		<ul class="row docList">
			<li class="col l3 m4 s12 list white docList-li" data-ng-repeat="doc in docObj">
				<div class="docList-li-pad">
					<div class="docList-hdr">
						<div class="docList-hdr-left">
							<div class="docList-hdr-left-lbl">{{'Document Number' || translate}}</div>
							<div class="docList-hdr-left-val">{{doc.number || translate}}</div>
						</div>
						<span class="docList-hdr-chkWrap">
							<smart-checkbox checked='false' fill='true' disable='false' label='' data-ng-model="checkval" class="filled-in docList-hdr-chk" data-ng-change="docselectclick()"></smart-checkbox>
							<!--<input type="checkbox" id="checkbox{{$index}}" data-ng-model="checkVal" class="filled-in docList-hdr-chk" data-ng-change="docSelectClick()" />
                            <label for="checkbox{{$index}}" class="checkbox-with-empty-label black-text"></label>-->
						</span>

						<div class="docList-hdr-left paddingRight10">
							<div class="docList-hdr-left-lbl">{{'Change order amount' || translate}}</div>
							<div class="docList-hdr-left-val">
								<span class=" text-darken-3"><span class="orange-text ">{{doc.orderAmountChanged || translate}}</span> USD</span>
								<span class="doc-hdr-status right">{{doc.status || translate}}</span>
							</div>							
						</div>					
					</div>
					<div class="docList-cnt" data-ng-show="!isCompared">
						<div class="docList-cnt-field">
							<label>{{'Amount Changed :' || translate }}</label>
							<span>{{doc.amountChanged || translate}}<span>{{'USD' || translate}}</span></span>							
						</div>
						<div class="docList-cnt-field">
							<label>{{'Created by :' || translate}}</label>
							<span>{{doc.createdBy || translate}}</span>
						</div>
						<div class="docList-cnt-field">
							<label>{{'Role :' || translate}}</label>
							<span>{{doc.role || translate}}</span>
						</div>
						<div class="docList-cnt-field">
							<label>{{'Created on :' || translate}}</label>
							<span>{{doc.createdOn || translate}}</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<smart-button config='{"title":"Change"}' background-color='" "' flat='"true"' data-ng-click="changeDocs()" data-ng-show="isCompared" class="changeLnk"></smart-button>
	</div>

	<div class="compareDocResults" data-ng-show="isCompared">
		<div class="row">
			<div class="col s12 ">
				<span class="marginBtm25 grey-text text-darken-4 fontSize18 paddingLeft15">{{'HEADER CHANGES' || translate}}</span>
			</div>
			<div class="col s12">
				<div smart-grid config="gridConfig"></div>
			</div>
		</div>
		<table class="bordered">
			<thead>
				<tr>
					<th>{{ 'Attribute' || translate}}</th>
					<th>{{ 'Modified From' || translate}}</th>
					<th>{{ 'Modified To' || translate}}</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="header in headers">
					<td>{{ header.attributes || translate}}</td>
					<td>{{ header.modifiedFrom || translate}}</td>
					<td>{{ header.modifiedTo || translate}}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col s12 marginTop25">
				<span class="fontSize18 left grey-text text-darken-4 paddingLeft15">{{ 'LINE CHANGES' || translate}}</span>
				<div class="select-wrapper right">
                    <smart-dropdown config="{{dropDownConfig}}">
                        <a class="dropdown-button black-text right fontSize16 " href="javascript:void(0);" data-activates="lineFilterDropdown" data-constrainwidth="false" data-alignment="right">
                            <span class="left">{{ 'Show' || translate}}</span>
                            <i class="icon iconSmall grey-text marginLeft10">
                                <svg class="left">
                                    <use xlink:href="#icon_DropArrow"></use>
                                </svg>
                            </i>
                        </a>
                        <ul id='lineFilterDropdown' class='dropdown-content lookup-popup lookupInline dd-close-off' style="z-index:inherit;">
                            <li>
                                <a href="javascript:void(0)">
                                    <smart-checkbox fill="true" class="input-chk" label="Added"></smart-checkbox>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <smart-checkbox fill="true" class="input-chk" label="Modified"></smart-checkbox>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <smart-checkbox fill="true" class="input-chk" label="Cancelled"></smart-checkbox>
                                </a>
                            </li>
                        </ul>
                    </smart-dropdown>
				</div>
			</div>
		</div>
		<table class="bordered">
			<thead>
				<tr>
					<!--<th>
						<smart-checkbox checked='false' fill='true' disable='false' label='' id="checkboxGLine" class="filled-in"></smart-checkbox>-->
						<!--<input type="checkbox" id="checkboxGLine" class="filled-in" />
                        <label for="checkboxGLine" class="checkbox-with-empty-label black-text"></label>-->
					<!--</th>-->
					<th class="sts">
						<a href="javascript:void(0)" class="stsCir dropdown-button" data-activates="gStsDropdown">
							<span class="stsCir--icon stsCir--approved"></span>
							<span class="arr arr--down arr--grey"></span>
						</a>
						<ul class="sts-list dropdown-content" id="gStsDropdown" style="z-index:inherit;">
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--approved"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'ACCEPT' || translate}}</div>
									<div class="sts-cnt-info">{{ 'The item is accepted.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--rejected"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'REJECT' || translate}}</div>
									<div class="sts-cnt-info">{{ 'The changes of item are rejected in change order.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--modified"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'NEED TO MODIFY' || translate}}</div>
									<div class="sts-cnt-info">{{ 'Item is marked for modification in change order.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--cancelled"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'CANCEL' || translate}}</div>
									<div class="sts-cnt-info">{{ 'Item is marked for cancellation in change order.' || translate}}</div>
								</div>
							</li>
						</ul>
					</th>
					<th>{{ 'Action' || translate}}</th>
					<th>{{ 'Line Description' || translate}}</th>
					<th class="right-align">{{ 'Item Number' || translate}}</th>
					<th class="right-align">{{ 'Contract Number' || translate}}</th>
					<th class="right-align">{{ 'Unit Price (USD)' || translate}}</th>
					<th class="right-align">{{ 'Quantity' || translate}}</th>
					<th> UOM</th>
					<th class="right-align">{{ 'Total (USD)' || translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in lineItems">
					<td>
						<smart-checkbox checked='false' fill='true' disable='false' label='' class="filled-in"></smart-checkbox>
						<!--<input type="checkbox" id="checkboxLine{{$index}}" class="filled-in" />
                        <label for="checkboxLine{{$index}}" class="checkbox-with-empty-label black-text"></label>-->
					</td>
					<td class="sts">
						<a href="javascript:void(0)" class="stsCir dropdown-button" data-activates="stsDropdown{{$index}}">
							<span class="stsCir--icon stsCir--approved"></span>
							<span class="arr arr--down"></span>
						</a>
						<ul class="sts-list dropdown-content" id="stsDropdown{{$index}}" style="z-index:inherit;">
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--approved"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'ACCEPT' || translate}}</div>
									<div class="sts-cnt-info">{{ 'The item is accepted.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--rejected"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'REJECT' || translate}}</div>
									<div class="sts-cnt-info">{{ 'The changes of item are rejected in change order.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--modified"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'NEED TO MODIFY' || translate}}</div>
									<div class="sts-cnt-info">{{ 'Item is marked for modification in change order.' || translate}}</div>
								</div>
							</li>
							<li class="clearfix sts-li">
								<a href="javascript:void(0)" class="stsCir">
									<span class="stsCir--icon stsCir--cancelled"></span>
								</a>
								<div class="sts-cnt">
									<div class="sts-cnt-hdr">{{ 'CANCEL' || translate}}</div>
									<div class="sts-cnt-info">{{ 'Item is marked for cancellation in change order.' || translate}}</div>
								</div>
							</li>
						</ul>
					</td>
					<td>{{item.action}}</td>
					<td>
						<a href="javascript:void(0)" ng-click="opentempPopup(e)">{{item.name}}</a>
					</td>
					<td class="right-align">{{item.itemNo || translate}}</td>
					<td class="right-align">{{item.contractNo || translate}}</td>
					<td class="right-align">{{item.price || translate}}</td>
					<td class="right-align">{{item.quantity || translate}}</td>
					<td>{{item.uom}}</td>
					<td class="right-align">{{item.total || translate}}</td>
				</tr>
           
			</tbody>
		</table>



<smart-popup template-url="{{lineItemPop}}" show='{{lineItemPopup}}' on-hide="lineItemPopOnHideCallback" type="large"></smart-popup>
     
	</div>
	<footer class="page-footer">
		<div class="row">
			<div class="col s12 normalMode">
				<div class="right-align col s12">
					<a href="javascript:void(0)" data-ng-show="!isCompared" class="waves-effect hoverable btn wave-effect ng-binding" data-ng-click="compareDocs()">{{'Compare' || translate}}</a>
					<!--<a href="javascript:void(0)" data-ng-show="isCompared" class="waves-effect hoverable white black-text marginRight10 btn wave-effect ng-binding">{{'Reject' || translate}}</a>
					<a href="javascript:void(0)" data-ng-show="isCompared" class="waves-effect hoverable btn wave-effect ng-binding">{{'Create Change Order' || translate}}</a>-->
					<!--<smart-button config='{"title":"Compare"}' background-color='" "' data-ng-show="!isCompared" class="right"></smart-button>
                    <smart-button config='{"title":"Reject"}' background-color='"white"' flat='"false"' data-ng-show="isCompared" class="right"></smart-button>
                    <smart-button config='{"title":"Create Change Order"}' background-color='" "'  flat='"false"' data-ng-show="isCompared" class="right"></smart-button>-->
				</div>
			</div>
		</div>
	</footer>
</section>

<smart-pop-up header-url='""' content-url='""' cancel-button='"true"' is-show='false'></smart-pop-up>


<!-- SAVED VIEW -->
<!---model view slider--->
<div ng-show="openPopuFlag">
    <a href="javascript:void(0);" class="slide-view-modal-next" ng-click="next($event)" ng-class="{'btn-show' : previewFlag}">
        <i class="icon iconSmall">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_RightChevro"></use>
            </svg>
        </i>
    </a>
    <a href="javascript:void(0);" class="slide-view-modal-previous" ng-click="prev()" ng-class="{'btn-show' : previewFlag}">
        <i class="icon iconSmall">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_LeftChevron"></use>
            </svg>
        </i>
    </a>
    <div class="slide-view-modal-overlay" ng-click="closeSlideView();" ng-class="{'overlay-show' : previewFlag}"></div>

    <div class="slide-view-modal modal " ng-class="[slide{{$index + 1}}, openSlideModal]" ng-hide="slideHide{{$index  + 1}}" ng-repeat="item in [1,2,3]">
        <div ng-include="'p2p/order/views/popupLineItem.html'">

        </div>
    </div>


</div>
