<div class="row marginBottom0 extra-nav-wrap" scrolled scroll-call="true " ng-class="{'extra-nav-wrap-fixed':fixedSubHeader}">
	<div class="col s12">
		<div class="extra-nav-title">
			<a href="javascript:history.go(-1);" class="left white-text waves-circle waves-effect waves-light extra-nav-title--back left-panel" smart-tooltip position="bottom" delay="10" message="{{'Back'|| translate}}">
				<i class="icon small">
					<svg>
						<use xlink:href="#icon_Back"></use>
					</svg>
				</i>
			</a>
			<i class="icon small extra-nav-title--icon ng-scope">
				<svg>
					<use xlink:href="#icon_Supplier"></use>
				</svg>
			</i>
			<span class="extra-nav-title--text ng-cloak">ADD NEW SUPPLIER</span>
		</div>
        <ul class="right extra-nav-right-icon right-panel">
            <li class="extra-nav-icon marginTop10" id="formSearchDv">
            </li>
        </ul>
</div>
		</div>

<div class="row paddingBtm40 smartFormWidgetContainer smartFormWidgetContainerList" ng-class="{'subHeaderFixedPlaceHolder':fixedSubHeader}">
	<smart-form-widget form-config="config.formConfig" search-holder="formSearchDv" model-data="config.modelData" is-sequential="true" widget-panel-top="115"></smart-form-widget>
</div>

<footer class="page-footer footerSpace">
	<div class="row marginBtm0">
		<smart-button class="left footerBtn marginLeft0" flat="true" config='{"title":"Reset"}' ng-click="supplierReset()" disable="false"></smart-button>
		<smart-button class="right footerBtn marginRight9" config='{"title":"SUBMIT"}' ng-click="supplierConfirm()" disable="false"></smart-button>
		<smart-button class="right footerBtn whiteSecondaryBtn" config='{"title":"CANCEL"}' disable="false"></smart-button>	
	</div>
</footer>

