<!-- subheader-->
<div id="subheaderwrapper" class="subheadercontainer clearfix">
    <div class="row marginBottom0 extra-nav-wrap" scrolled>
        <div class="col s12">
            <div class="extra-nav-title">
                <a href="javascript:history.go(-1);" class="left white-text waves-circle waves-effect waves-light extra-nav-title--back left-panel" smart-tooltip position="bottom" delay="10" message="{{'Back'|| translate}}">
                    <i class="icon small">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Back"></use>
                        </svg>
                    </i>
                </a>
                <i class="icon small extra-nav-title--icon ng-scope">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_asn"></use>
                    </svg>
                </i>
                <span class="extra-nav-title--text ng-cloak">{{ pagetitle  | translate}} <span ng-if="statuscheck == 'Draft'">( {{ statuscheck | uppercase | translate }} )</span></span>
            </div>


            <ul class="right extra-nav-right-icon right-panel">
                <li class="extra-nav-icon marginTop10" id="formSearchDv" ng-class="{'hide' : statuscheck != 'Draft'}">
                </li>

                <li class="extra-nav-title--text marginLeft10">
                    <smart-dropdown config="{{dropDownConfig}}">
                        <a class='dropdown-button left btn-in-header white-text' href='javascript:void(0)' data-activates='dropdownUSD' data-constrainwidth="false" data-alignment="right">
                            <span>{{ 'USD' || translate }} {{ getTotalTax()  | translate | number:2 }}</span>
                            <i class="icon iconSmall white-text">
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_DropArrow"></use>
                                </svg>
                            </i>

                        </a>

                        <ul id="dropdownUSD" class="dropdown-content looup-data-summary lookup-popup fontNormal dropdown-content-medium dd-close-off">
                            <li ng-repeat="item in taxConfig">
                                <div class="input-field col s12 detail-field-summary">
                                    <span class="left grey-text">{{item.dataName || translate}} ({{'USD' || translate}}) </span>
                                    <div class="right">
                                        <div class="right-align">
                                            {{ item.dataValue | number:2 }}
                                        </div>

                                    </div>

                            </li>

                            <li class="marginBtm18">
                                <div class="input-field col s12 detail-field-summary"><span class="left grey-text">{{ " Total Value (USD)" || translate}}</span> <span class="right"> {{ getTotalTax()  || translate | number:2 }} </span> </div>
                            </li>
                            <li></li>
                        </ul>
                    </smart-dropdown>

                </li>
                <li class="extra-nav-icon">
                    <a href="javaScript:void(0)" class="waves-circle sh-icon waves-effect waves-light dropdown-button " ng-click="showCommentsPopupCallback(e)">
                        <i class="icon iconSmall white-text" message="Comments" smart-tooltip data-position="bottom" delay="50">
                            <svg><use xlink:href="{{ commentIcon }}"></use></svg>
                        </i>
                    </a>
                </li>
                <li class="extra-nav-title--text ">
                    |
                </li>
                <li class="extra-nav-icon ">
                    <smart-dropdown config="{{dropDownConfig}}">
                        <a href="javaScript:void(0);" class="waves-circle sh-icon waves-effect waves-light dropdown-button " data-alignment="right" data-activates='landingPageAction' data-constrainwidth="false">
                            <i class="icon iconSmall white-text" smart-tooltip message="Actions" data-position="bottom" data-delay="50">
                                <svg><use xlink:href="#icon_MenuKebab"></use></svg>
                            </i>
                        </a>
                        <ul class='dropdown-content' id="landingPageAction">
                            <li>
                                <a ui-sref="p2p.receipt.new" class="grey-text text-darken-4">
                                    {{'Create Receipt' || translate}}
                                </a>
                            </li>
                            <li>
                                <a ui-sref="p2p.inv.create" class="grey-text text-darken-4">
                                    {{'Create Invoice' || translate}}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="grey-text text-darken-4" ng-click="trackStatusPopupCallback(e)">
                                    {{'Track Status' || translate}}
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="grey-text text-darken-4" ng-click="deleteOrder(e)">
                                    {{'Delete' || translate}}
                                </a>
                            </li>

                        </ul>
                    </smart-dropdown>
                </li>

            </ul>

        </div>
    </div>
</div>
<!-- body -- form widget -->
<div class="row smartFormWidgetContainer marginBtm40">
<smart-form-widget form-config="config" search-holder="formSearchDv"  model-data="dataModel" widget-panel-top="115" widget-panel-top="{{topValueSectionTrack}}"></smart-form-widget>
</div>

<!-- footer -->
<footer class="page-footer bounceInUp animated">
    <div class="row">
            <div class="left-align col s3">
                <smart-button flat="true" config='{"title":"Print Preview","allignRight":"true"}' disable="false" callback="showOrderPreview"></smart-button>
            </div>
            <div class="right-align col s9">
                <smart-button flat="true" config='{"title":"CANCEL","allignRight":"false"}' disable="false"></smart-button>
                <smart-button config='{"title":"SAVE AS DRAFT","allignRight":"false"}' disable="false" class="whiteSecondaryBtn marginRight10"></smart-button>
                <smart-button config='{"title":"SUBMIT","allignRight":"false"}' disable="false" ng-click="submitReq()"></smart-button>
            </div>
        
    </div>
</footer>

<!-- all poup links -->

<!-- popup -- comments -->
<smart-popup template-url="{{commentsPopupUrl}}" show="{{showCommentsPopup}}" on-hide="commentsPopUpOnHideCallback(e)"></smart-popup>
<!-- popup -- attchments -->
<smart-popup template-url="shared/popup/views/popupUploadDoc.html"  show="{{showUploadPopup}}" on-hide="hideUploadPopupCallback(e)"></smart-popup>

<smart-popup template-url="shared/popup/views/popupNewTrackStatus.html" class="trackStatusPopup" expand-collapse="#trackStatusPopup" show='{{trackStatusPopup}}' on-hide="trackStatusOnHideCallback(e)"></smart-popup>