<div class="modal-content padding0 notification-massage">
    <div class="modal-header">
        <i class="icon iconSmall grey-text left marginTop5">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Attachment"></use>
            </svg>
        </i>
        <span class="title">ATTACHMENT</span>
    </div>
    <div class="modal-content padding10 comment-poup-content">
        <div class="row margin0">
            <div class="row">
                <div class="col s12 right-align">
                    <a href="javascript:void(0)"><i class="icon iconSmall" style="color: red;">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Info"></use>
                        </svg>
                    </i><span class="grey-text">Formats Supported </span></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="box-input valign-wrapper box-input-small-height">
                        <div class="valign center">
                            <div class="file-field input-field">
                                <span class="grey-text">Drag and drop file here OR</span> <span class="blue-text">UPLOAD DOCUMENT</span>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="scrollbar-outer" style="max-height: 120px;">
                        <div class="row">
							<smart-textfield class="col s12 m4" ng-model="" placeholder="Title"></smart-textfield>
                            <div class="col s12 m4">
                                <div class="marginTop18 ">
                                    <a href="javascript:void(0)">Attachments_01.xls</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <smart-textfield class="col s12 m4" ng-model="" placeholder="Title"></smart-textfield>
                            <div class="col s12 m4">
                                <div class="marginTop15 ">
                                    <a href="javascript:void(0)">Attachments_02.xls</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <smart-textfield class="col s12 m4" ng-model="" placeholder="Title"></smart-textfield>
                            <div class="col s12 m4">
                                <div class="marginTop15 ">
                                    <a href="javascript:void(0)">Attachments_03.xls</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="right-align">
		<smart-button config='{"title":"CLOSE"}'ng-class="modal-close" flat="true"></smart-button>
	</div>
</div>