<div class="row marginBtm0 extra-nav-wrap" scrolled ng-class="{'extra-nav-wrap-fixed':fixedSubHeader}">
	<div class="col s12">
		<div class="extra-nav-title">
			<a href="javascript:history.go(-1);" class="left  waves-circle waves-effect waves-light left extra-nav-title--back">
				<i class="icon small ">
					<svg>
						<use xlink:href="#icon_Back"></use>
					</svg>
				</i>
			</a>
			<i class="icon small extra-nav-title--icon">
				<svg>
					<use xlink:href="#icon_OnBehalf"></use>
				</svg>
			</i>
			<span class="extra-nav-title--text ng-cloak">NEW REQUISITION (DRAFT)</span>
		</div>

		<!--<div class="searchSlideMain headersearch reqnewheadersearch searchSlideMain--inputBdrBNone">
			<div class="searchWithHiddenTextField" ng-class="{'active': isActiveHeader}">
				<a href="javascript:void(0)" ng-click="hideSearchHeader()" ng-show="hideCloseHeader" class="waves-circle waves-effect cancel-icon btn-flat black-text">
					<i class="icon iconSmall center grey-text">
						<svg><use xlink:href="#icon_Close"></use></svg>
					</i>
				</a>

				<smart-textfield class="input-field" placeholder="Laptops (8981 ITEMS)" focus="focusSearchHeader"></smart-textfield>
				<a href="javascript:void(0)" class="waves-circle waves-effect search-icon btn-flat black-text" smart-tooltip position="bottom" delay="50" message="Search" ng-click="showSearchHeader()">
					<i class="icon iconSmall center grey-text">
						<svg><use xlink:href="#icon_Search"></use></svg>
					</i>
				</a>
			</div>
		</div>-->
        

		<div class="extra-nav-action">
            <!-- subheader -- right side actions -- search -->
            <div class="extra-nav-icon" id="formSearchDv">
            </div>
            <smart-dropdown>
                <i data-activates='searchContent' class="icon iconSmall dropdown-button left" data-alignment="right" smart-tooltip position="bottom" delay="50" message="{{'Find a field or section' || translate }}" data-position="bottom" data-delay="50" data-constrainwidth="false">
                    <svg><use xlink:href="#icon_Search"></use></svg>
                </i>
                <ul id='searchContent' class='dropdown-content dropdown-content--size-medium dd-close-off' ng-init="searchFlag = true;" ng-class="{'searchContentField' : searchFlag }">
                    <li class="dropdown-content-header">
                        <div class="searchSlideMain searchSlideMain--inputBdrBNone" data-ng-init="mysearch=false;">
                            <div class="searchWithHiddenTextField active" >
                                <a href="javascript:void(0)" smart-tooltip position="Down" ng-show="showClose" message="{{'Close' || translate }}" ng-click="searchinList = ''; showClose = false"  delay="250" class="cancel-icon waves-light white-text waves-circle waves-effect">
                                    <i class="icon iconSmall center ">
                                        <svg><use xlink:href="#icon_Close"></use></svg>
                                    </i>
                                </a>

                                <smart-textfield on-key-press="showClose = true" class="input-field" focus="true" placeholder="Search Field or Section" ng-model="searchinList"> </smart-textfield>
                                <a href="javascript:void(0)" class="search-icon waves-light waves-effect white-text waves-circle waves-effect" smart-tooltip position="bottom" delay="50" message="{{'Search' || translate }}" >
                                    <i class="icon iconSmall center ">
                                        <svg><use xlink:href="#icon_Search"></use></svg>
                                    </i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-content-content" ng-class="{ 'is-scrolled': true}">
                        
                        <smart-list model="sectionAndFieldsDetails | filter: searchinList"
                                    style-class="collection noBorder "
                                    item-class="collection-item collection-title-font-size-medium"
                                    height="230px" template="shared/view/searchinSection/sectionSearchList.html">
                        </smart-list>
                    </li>
                   
                </ul>

            </smart-dropdown>
         
			<smart-dropdown config="{{dropDownConfig}}">
				<i data-activates='landingPageAction' class="icon iconSmall dropdown-button " data-alignment="right" message="Actions" data-position="bottom" data-delay="50" data-constrainwidth="false">
					<svg><use xlink:href="#icon_MenuKebab"></use></svg>
				</i>
				<ul id='landingPageAction' class='dropdown-content'>
					<li>
						<a href="javascript:void(0)" class="grey-text text-darken-4" ng-click="savedViewPopupCallback(e)">
							Manage Approvals
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="grey-text text-darken-4" ng-click="manageAttributesPopupCallback(e)">
							Delete
						</a>
					</li>
				</ul>
			</smart-dropdown>
			<span class="paddingRight10 paddingLeft10">|</span>
			<smart-dropdown config="{{dropDownConfig}}">
				<a class='dropdown-button btn-in-header white-text' href='javascript:void(0)' data-activates='dropdownUSD' data-constrainwidth="false" data-alignment="right">
					<i class="icon iconSmall white-text right">
						<svg>
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_DropArrow"></use>
						</svg>
					</i>
					<span class="extra-nav-action-value">USD 1000.00</span>
				</a>
				<ul id="dropdownUSD" class="dropdown-content looup-data-summary lookup-popup fontNormal dropdown-content-medium dd-close-off">
					<li>
						<div class="input-field col s12 detail-field-summary">
							<span class="left grey-text">{{'Document Value' || translate}} (USD)</span>
							<span class="right">678.00</span>
						</div>
					</li>
					<li>
						<div class="input-field col s12 detail-field-summary header-input-edit" ng-init="editProrate1=false">
							<span class="left grey-text">{{'Shipping' || translate}} (USD)</span>
							<div class="right">
								<div>109.00</div>
								<div class="shwEditMode"><a href="javascript:void(0)" class="blue-text fontSize12" ng-click="editProrate1=!editProrate1">{{'Prorate' || translate}}</a></div>
							</div>
							<div class="slider-pop" ng-show="editProrate1">
								<div class="row grey greyPanel lighten-3 paddingBtm10">
									<smart-textfield class="col s6" label="{{'Prorate' || translate}}" ng-model="'00.00'"></smart-textfield>
									<div class="col s6">
										<a href="javascript:void(0)" class="icon iconSmall right marginTop15 blue-text">
											<svg>
												<use xlink:href="#icon_Check"></use>
											</svg>
										</a>
										<a ng-click="editProrate1=!editProrate1" href="javascript:void(0)" class="icon iconSmall right marginTop15 hideEditMode blue-text">
											<svg>
												<use xlink:href="#icon_Close"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="input-field col s12 detail-field-summary header-input-edit" ng-init="editProrate=false">
							<span class="left grey-text">{{'Taxes' || translate}} (USD)</span>
							<div class="right">
								<div>00.00</div>
								<div class="shwEditMode"><a href="javascript:void(0)" class="blue-text fontSize12" ng-click="editProrate=!editProrate">{{'Prorate' || translate}}</a></div>
							</div>
							<div class="slider-pop" ng-show="editProrate">
								<div class="row grey greyPanel lighten-3 paddingBtm10">
									<smart-textfield class="col s6" label="{{'Prorate' || translate}}" ng-model="'00.00'"></smart-textfield>
									<div class="col s6">
										<a href="javascript:void(0)" class="icon iconSmall right marginTop15 blue-text">
											<svg>
												<use xlink:href="#icon_Check"></use>
											</svg>
										</a>
										<a ng-click="editProrate=!editProrate" href="javascript:void(0)" class="icon iconSmall right marginTop15 hideEditMode blue-text">
											<svg>
												<use xlink:href="#icon_Close"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="input-field col s12 detail-field-summary header-input-edit" ng-init="editProrate=false">
							<span class="left grey-text">{{'Charges' || translate}} (USD)</span>
							<div class="right">
								<div>00.00</div>
							</div>
							
						</div>
					</li>
					<li>
						<div class="input-field col s12 detail-field-summary"><span class="left grey-text">{{'Document Total (USD)' || translate}}</span> <span class="right">1000.00</span> </div>
					</li>
					<li></li>
				</ul>
			</smart-dropdown>
		</div>
	</div>
</div>
	<div class="row paddingBtm40 smartFormWidgetContainer">
		<smart-form-widget form-config="config" search-holder="formSearchDv" model-data="dataModel" widget-panel-top="{{topValueSectionTrack}}"></smart-form-widget>
	</div>

	<footer class="page-footer">
		<div class="row">

			<div class="col s12 normalMode">
				<div class="left-align col s3">
					<smart-button flat="true" config='{"title":"Preview","allignRight":"true"}' disable="false" callback="showPreview"></smart-button>
				</div>
				<div class="right-align col s9">
					<smart-button flat="true" config='{"title":"SAVE AS DRAFT","allignRight":"false"}' disable="false"></smart-button>
					<smart-button flat="true" config='{"title":"CANCEL","allignRight":"false"}' disable="false"></smart-button>
					<smart-button config='{"title":"SUBMIT","allignRight":"false"}' disable="false" ng-click="submitReq()"></smart-button>
				</div>
			</div>
		</div>
	</footer>
