<div>
    <div class="modal-header">
        <i class="icon iconSmall grey-text left">
            <svg><use xlink:href="#icon_Order"></use></svg>
        </i>
        <span class="title">{{ popupTitle || translate}}</span>
    </div>
    <div class="modal-content padding0">
        <div class="model_body paddingTop20">
                <div class="row minHeigth70">
                    <div class="col s12">
                        <smart-typeahead class="col s12 line-height-manager" multiselect="false" titleofmodel="Buyers" show-lookup="true" ng-model="selectedBuyer" options="buyerOptions" filterkeys="['buyerName']" optionformat="<span>{buyerName}</span>" displayformat="{buyerName}" label="Buyer" on-select="assignBuyer(selectedBuyer)" lookup-open="assignPopupOnHideCallback(e)" lookup-hide="onLookupClose(data)"></smart-typeahead>
                    </div>
                </div>
        </div>
        <div class="modal-footer_new">
            <div class="row marginBottom0">
                <!--<smart-button flat="true" config="{'title':'RESET'}" class="left"></smart-button>-->
                <smart-button flat="true" config="{'title': 'ASSIGN'}" class="right marginRight5" disable="buyerSelected" ng-click="assignCallback()"></smart-button>
                <smart-button flat="true" config="{'title':'CANCEL'}" class="right modal-close"></smart-button>
            </div>
        </div>
    </div>
</div>