 <!-- Empty Box-->
<div class="emptyBox ">

    <div class="centered-contentbox">
        <div class="row">
            <div class="col l6 m6 s12 centered center">
                <p class="marginBtm25 grey-text text-darken-3 fontSize18"> You have not created any Requisition yet. Go ahead create one. </p>
                <a class="waves-effect waves-light btn template-modal-trigger ng-cloak" href="javascript:void(0)">{{$label_U.createRequisition}}</a>
            </div>
        </div>
    </div>
</div>