<div>
    <i class="icon iconSmall circle draft tooltipped" data-position="right" data-delay="50" data-tooltip="Auction" data-tooltip-id="a397df46-cf7a-0b06-90da-318796a5fdb8">
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Requisition"></use>
        </svg>
    </i>
    <span style="color:#000!important;" class="title">{{item.number}}</span><span style="color:#000!important;" class="title"> - </span><span style="color:#000!important;" class="title">{{item.name}}</span>

    <p class="fontSize12">
        <span class="grey-text">{{item.status.name}}</span><br>
        <span>{{item.createdBy.name}}</span>| <span>{{item.createdOn.substring(0, 10)}}</span><!--<span>BUSINESS TRAVEL </span>-->
    </p>
    <!-- <div class="secondary-content">
         <div class="relative">
             <a href="#" class="waves-circle waves-effect waves-light-blue dropdown-button" data-alignment="left" data-activates="more_vert_content">
                 <i class="icon iconSmall">
                     <svg>
                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_MenuKebab"></use>
                     </svg>
                 </i></a><ul id="more_vert_content" class="dropdown-content">
                 <li><a href="#!" class="ng-binding">Action 1</a></li>
                 <li class="divider"></li>
                 <li><a href="#!" class="ng-binding">Action 2</a></li>
                 <li class="divider"></li>
                 <li><a href="#!" class="ng-binding">Action 3</a></li>
             </ul>

         </div>
     </div>-->
</div>