<!-- subheader-->
<div class="row marginBottom0 extra-nav-wrap" scrolled ng-class="{'extra-nav-wrap-fixed':fixedSubHeader}">
        <div class="col s12">
            <div class="extra-nav-title">
                <a href="javascript:history.go(-1);" class="left white-text waves-circle waves-effect waves-light extra-nav-title--back left-panel" smart-tooltip position="bottom" delay="10" message="{{'Back'|| translate}}">
                    <i class="icon small">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Back"></use>
                        </svg>
                    </i>
                </a>
                <i class="icon small extra-nav-title--icon ng-scope">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Order"></use>
                    </svg>
                </i>
                <span class="extra-nav-title--text ng-cloak">Polycom</span>
            </div>
            <ul class="right extra-nav-right-icon right-panel">
                <li class="extra-nav-icon ">
                <smart-dropdown config="{{dropDownConfig}}">
                    <a class="dropdown-button" href="javascript:void(0);" data-activates="lineFilterDropdown01" data-constrainwidth="false" data-alignment="right">
                        <i class="icon iconSmall white-text">
                            <svg>
                                <use xlink:href="#icon_Filter"></use>
                            </svg>
                        </i>
                    </a>
                    <ul id='lineFilterDropdown01' class='dropdown-content dd-close-off'>
                        <li>
                            <a href="javascript:void(0)">
                                <smart-checkbox fill="true" class="input-chk" label="Added"></smart-checkbox>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <smart-checkbox fill="true" class="input-chk" label="Modified"></smart-checkbox>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <smart-checkbox fill="true" class="input-chk" label="Cancelled"></smart-checkbox>
                            </a>
                        </li>
                        <li>
                            <div class="right paddingTop10">
                                <smart-button flat="true" class="fontSize14" callback="closePopOver" config='{"title":"CANCEL" || translate}'></smart-button>
                                <smart-button flat="true"  class="fontSize14" callback="closePopOver" config='{"title":"Apply" || translate}'></smart-button>
                            </div>
                        </li>
                    </ul>
                </smart-dropdown>
            </li>
            </ul>
             
        </div>
     </div>
<!-- end subheader-->
<!-- body -- form widget -->
<section class="clearfix viewChangePg viewchangePg--bottom-padding-change white">
    <div class="row  paddingTop20">
        <div class="col s12">
            <div class="row marginBtm0">
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="Item Number" ng-model="items.ItemNo"></smart-textfield>
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="Contract Number" ng-model="items.ContractNo"></smart-textfield>
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="Unit Price (USD)" ng-model="items.itemAttrs[0].dataValue"></smart-textfield>
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="Quantity" ng-model="items.itemAttrs[1].dataValue"></smart-textfield>
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="UOM" ng-model="items.itemAttrs[2].dataValue"></smart-textfield>
                <smart-textfield class="col s12 m6 l4 xl3 xxl2 line-height-manager" readonly="true" label="Total (USD)" ng-model="items.itemAttrs[3].dataValue"></smart-textfield>
            </div>
        </div>
    </div>
    <smart-tabs tab-config="{{tabsData}}" width="100%" class="marginBtm0 line-changes-tab-content"></smart-tabs>
</section>

<!-- footer -->
<footer class="page-footer"> 
    <div class="row">
        <div class="col s12 right-align">
            <div class="col s12">
                <smart-button flat="true" config='{"title":"Close","allignRight":"false"}' disable="false" ng-click="closeLineChange()"></smart-button>
            </div>
        </div>
    </div>  
</footer>
