<div id="add-address-detail" class="">
	<div class="modal-header">
		<span class="title">Add New Ship to Location</span>
	</div>
	<div class="modal-content padding10 is-scrolled">
		<div class="row marginBtm0">
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Location Name"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Location Code"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Address Line 1"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Address Line 2"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="City"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Country"></smart-textfield>
			<smart-textfield type="number" class="col s12 l6 m6 marginBtm25" label="Zip Code"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="State"></smart-textfield>
			<smart-textfield class="col s12 l6 m6 marginBtm25" label="Contact Person"></smart-textfield>
			<smart-textfield type="number" class="col s12 l6 m6 marginBtm25" label="Telephone Number"></smart-textfield>
		</div>
	</div>
	<div class="modal-footer is-scrolled">
		<div class="row marginBottom0">
            <smart-button config='{"title":"DONE","flat":true}' class="modal-close" flat="true"></smart-button>
            <smart-button config='{"title":"CANCEL","flat":true}' class="modal-close" flat="true"></smart-button>
		</div>
	</div>
</div>
