<div class="previewModeContainer row">
	<div class="preview-text">PREVIEW</div>
	<div class="col s12 l12 m12">
		<div class="row card ng-cloak" style="width: 895px; margin: 0 auto;">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td align="left" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="60%" align="left" valign="bottom" scope="col">
												<table width="80%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td align="left" valign="top" style="padding-bottom: 25px;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb; background: #f2f2f2;">Company Address</th>

																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Broadgate West,5th Numberth avenue,NY,Alabama,United States,45213
						   								      Email Id/Fax Number</td>

															</table>
														</td>
													</tr>

												</table>
											</td>
											<td width="30%" align="center" valign="top" scope="col" style="text-align: center;">
												<h3 style="color: #A6A6A6;">CREDIT MEMO</h3>
											</td>
										</tr>
										<tr>
											<td align="left" valign="top">
												<table width="60%" border="0" cellspacing="0" cellpadding="0">

													<tr>
														<td align="left" valign="top" style="padding-bottom: 25px;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="40%" align="left" valign="top" scope="col" colspan="2" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; background: #F2F2F2;">Credit Memo Details</th>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Credit Memo Name</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">Credit Memo 2</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Credit Memo Number</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; border: 1px solid #bbb; border-bottom: 0px;">CM-08:34-64364363</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Supplier Name</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">Smart Supplier A</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Supplier Memo Number</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">INV IR CM1</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Supplier Invoice Number</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">IRA JUL28 IT</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Order Number</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">PO-07:15-3463464</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px;"><strong>Currency</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">USD</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td align="left" valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="40%" align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; background: #F2F2F2;">Summary</th>
																	<th width="40%" align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; background: #F2F2F2;">Amount (USD)</th>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Item total</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">796.23</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Tax</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; border: 1px solid #bbb; border-bottom: 0px;">50.367764</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Shipping Charges</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">65.547745</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Other charges</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">347.746527</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px;"><strong>Total Value</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>1259.89</strong></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>

									</table>
								</td>
							</tr>


							<tr>
								<td>
									<table width="100%" border="0" cellpadding="0" cellspacing="0">
										<!--<tr>
											<td style="padding-bottom: 25px;">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Delivery and Payment</th>
													</tr>
													<tr style="border-top: 1px solid #bbb;">
														<td align="left" valign="top" style="padding: 0;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="32%" align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; background: #f2f2f2;">Bill to</th>
																	<th width="32%" align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; background: #f2f2f2;">Ship to</th>
																	<th width="32%" align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; background: #f2f2f2;">Deliver to</th>
																</tr>
																<tr>
																	<td width="32%" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Broadgate West,5th North avenue,NY,Alabama,United States,45213
						   								      Email Id/Fax No:</td>
																	<td width="32%" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Clark,33,Avenue,Clark,New Jersy,United States,07066</td>
																	<td width="32%" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">&nbsp;</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>-->

										<tr>
											<td style="padding-bottom: 25px;" align="left" valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Material Items</th>
													</tr>
													<tr style="border-top: 1px solid #bbb;">
														<td align="left" valign="top" style="padding: 0;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="10%" align="center" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;" scope="col">Line Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Item</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Quantity</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">UOM</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Unit Price (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Total (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Tax Exempt</th>

																</tr>
																<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">1</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">ITM12341231</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">Dell Inspiron 15</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">20</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">roll</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">151.1</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">181.1</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">No</td>
																</tr>

																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 0px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Supplier Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Requested Date</th>
																	<th width="15%" align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Need by Date</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Taxes (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Shipping and Freight (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Other Charges (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Contact Number</th>

																</tr>
																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">IT/Telecom</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">26-09-2013</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">10-10-2013</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"></td>
																</tr>

																<!--<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">&nbsp;</td>
																	<td colspan="7" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td width="50%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Shipping Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Ship to Location</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Ship to Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">Clark</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">33,Avenue,Clark,New Jersy,United States,07066</td>
																									</tr>
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">&nbsp;</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">&nbsp;</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td width="25%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Supplier Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Supplier Name</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">Clark</td>
																									</tr>

																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td width="25%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Other Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Category</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">IT/Telecom</td>
																									</tr>

																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>

																		</table>
																	</td>
																</tr>-->
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 25px;" align="left" valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Material Items</th>
													</tr>
													<tr style="border-top: 1px solid #bbb;">
														<td align="left" valign="top" style="padding: 0;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">

																<tr>
																	<th width="10%" align="center" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;" scope="col">Line Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Item</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Quantity</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">UOM</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Unit Price (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Total (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Tax Exempt</th>

																</tr>
																<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">2</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">ITM12341231</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">Dell Inspiron 15</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">20</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">roll</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">151.1</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">181.1</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">No</td>
																</tr>

																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 0px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Supplier Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Requested Date</th>
																	<th width="15%" align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Need by Date</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Taxes (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Shipping and Freight (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Other Charges (USD)</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Contact Number</th>

																</tr>
																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">IT/Telecom</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">26-09-2013</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">10-10-2013</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"></td>
																</tr>


																<!--<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">&nbsp;</td>
																	<td colspan="7" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td width="50%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Shipping Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Ship to Location</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Ship to Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">Clark</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">33,Avenue,Clark,New Jersy,United States,07066</td>
																									</tr>
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">&nbsp;</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">&nbsp;</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td width="25%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Supplier Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Supplier Name</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">Clark</td>
																									</tr>

																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																				<td width="25%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Other Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Category</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">IT/Telecom</td>
																									</tr>

																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>

																		</table>
																	</td>
																</tr>-->
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>


										<tr>
											<td align="left" valign="top" style="padding: 3px 0px;">
												<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; background: #f2f2f2;">Comments</th>
													</tr>
													<tr>
														<td align="left" valign="top">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">User Name</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">Date and Time</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Visibility</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Comment</th>

																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">Kailas M</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">25-12-2013</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Buyer Only</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Comment of the section here</td>

																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 0px;">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; background: #f2f2f2;">Terms & Conditions</th>
													</tr>
													<tr>
														<td align="left" valign="top">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<td align="left" valign="top" bgcolor="#fff" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">
																	1</th>
                                              <td align="left" valign="top" bgcolor="#fff" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">
																	Your use of the Services is subject to your creation and our approval of an AdSense account (an Account).  We have the right to refuse or limit your access to the Services. By submitting an application to use the Services, if you are an individual,</th>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<footer class="page-footer">
	<div class="clearfix row">
		<div class="left left-align col s6">
			<smart-button flat="true" class="editRequest" config='{"title":"EDIT"}' callback=""></smart-button>
		</div>
		<div class="right right-align col s6">
			<smart-button class="right" config='{"title":"SUBMIT REQUEST"}' callback=""></smart-button>
			<smart-button flat="true" class="right" config='{"title":"SAVE AS TEMPLATE"}' callback=""></smart-button>
		</div>
	</div>
</footer>
