<div class="previewModeContainer row">
	<div class="preview-text">PREVIEW</div>
	<div class="col s12 l12 m12">
		<div class="row card ng-cloak" style="width: 895px; margin: 0 auto;">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td align="left" valign="top">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="60%" align="left" valign="bottom" scope="col">
												<table width="80%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td align="left" valign="top" style="padding-bottom: 25px;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb; background: #f2f2f2;">Company Address</th>

																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Broadgate West,5th Numberth avenue,NY,Alabama,United States,45213
						   								      Email Id/Fax Number</td>

															</table>
														</td>
													</tr>

												</table>
											</td>
											<td width="30%" align="center" valign="top" scope="col" style="text-align: center;">
												<h3 style="color: #A6A6A6;">Return Note</h3>
											</td>
										</tr>
										<tr>
											<td align="left" valign="top" style="padding-top:0;">
												<table border="0" cellspacing="0" cellpadding="0">

													<tr>
														<td align="left" valign="top" style="padding-bottom: 25px;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="40%" align="left" valign="top" scope="col" colspan="4" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; background: #F2F2F2;">Return Note Details</th>

																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Return Note Name</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">ReturnNote1 for Receipt2</td>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Return Note Number</strong></td>
                                                                    <td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">RET-2016.000022</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Order Number</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; border: 1px solid #bbb; border-bottom: 0px;">PO­12:15­001468</td>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong> Order Name</strong></td>
                                                                    <td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; border: 1px solid #bbb; border-bottom: 0px;"> Internal Order</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Receiver</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">Ashwin SM1 kalra</td>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Return Note Status</strong></td>
                                                                    <td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">SubmittedToSupplier</td>
																</tr>
																<tr>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px;"><strong>Created On</strong></td>
                                                                    <td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"> 01/25/2016</td>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px;"><strong>Receipt Number</strong></td>
                                                                    <td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">REC-2015.000874</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
											<td align="left" valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td>
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="40%" align="left" valign="top" scope="col" colspan="2" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; background: #F2F2F2;">Supplier Details</th>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Supplier Name and Address</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px;">PC­2014.000001 :: Evertek, Jesse Way, Warrenton, Virginia, United States, 01066
</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px; border-bottom: 0px;"><strong>Supplier Contact Name</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0px; border: 1px solid #bbb; border-bottom: 0px;">Evertek</td>
																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; border-right: 0px;"><strong>Supplier Contact Email / Phone</strong></td>
																	<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>evertek.Supplier@gep.com</strong></td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>

									</table>
								</td>
							</tr>


							<tr>
								<td>
									<table width="100%" border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding-bottom: 25px;">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Shipping Details</th>
													</tr>
													<tr style="border-top: 1px solid #bbb;">
														<td align="left" valign="top" style="padding: 0;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="32%" align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; background: #f2f2f2;">Ship To Location / Address</th>
																	
																	<th width="32%" align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; background: #f2f2f2;">Deliver To / Address</th>
																</tr>
																<tr>
																	<td width="32%" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Clark, 33, Avenue, Clark, New Jersey, United States, 07066</td>
																	<td width="32%" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">&nbsp;</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>

										<tr>
											<td style="padding-bottom: 25px;" align="left" valign="top">
												<table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Material Items</th>
													</tr>
													<tr style="border-top: 1px solid #bbb;">
														<td align="left" valign="top" style="padding: 0;">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th width="10%" align="center" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;" scope="col">Line Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Supplier Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Item</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Ordered Quantity</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Received Quantity</th>
																	<th align="Right" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Accepted Quantity</th>
																	

																</tr>
																<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">1</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">P5455 </td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"> Welding Panel </td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">5.00</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">3.00</td>
																	<td align="Right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">2.00</td>
																	
																</tr>

																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 0px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col"> Item Number</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Category</th>
																	<th width="15%" align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Returned Quantity</th>
                                                                    <th width="15%" align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col" colspan="2">Reason For Return</th>
																	
																	

																</tr>
																<tr>
																	<th width="10%" align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 0px solid #bbb;" scope="col" bgcolor="#FFFFFF">&nbsp;</th>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">I1211</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">GENERAL SERVICES & SUPPLIES</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">1.000000</td>
                                                                    <td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;" colspan="2">Expecting Replacement</td>
																</tr>

																<tr>
																	<td align="center" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">&nbsp;</td>
																	<td colspan="5" align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">
																		<table width="100%" border="0" cellspacing="0" cellpadding="0">
																			<tr>
																				<td width="50%" align="left" valign="top" style="padding: 3px 10px;">
																					<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
																						<tr>
																							<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Shipping Details</th>
																						</tr>
																						<tr>
																							<td align="left" valign="top" style="padding: 0;">
																								<table width="100%" border="0" cellspacing="0" cellpadding="0">
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Shipping Method</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Ship to</th>
                                                                                                        <th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">&nbsp;</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">Clark</td>
                                                                                                        <td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">33,Avenue,Clark,New Jersy,United States,07066</td>
																									</tr>
																									<tr style="background: #f2f2f2;">
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">&nbsp;</th>
																										<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to</th>
                                                                                                        <th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb;" scope="col">Deliver to Address</th>
																									</tr>
																									<tr>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">&nbsp;</td>
																										<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">&nbsp;</td>
                                                                                                        <td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">&nbsp;</td>
																									</tr>
																								</table>
																							</td>
																						</tr>
																					</table>
																				</td>
																			</tr>

																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td align="left" valign="top" style="padding: 3px 0px;">
												<table style="margin-bottom: 25px;" width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<th align="left" valign="top" scope="col" style="padding: 3px 10px; background: #f2f2f2;">Comments</th>
													</tr>
													<tr>
														<td align="left" valign="top">
															<table width="100%" border="0" cellspacing="0" cellpadding="0">
																<tr>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">User Name</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-top: 1px solid #bbb; border-left: 1px solid #bbb;" scope="col">Date and Time</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Visibility</th>
																	<th align="left" valign="top" bgcolor="#f2f2f2" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-top: 1px solid #bbb; border-right: 1px solid #bbb;" scope="col">Comment</th>

																</tr>
																<tr>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">Emily</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-left: 1px solid #bbb; border-bottom: 1px solid #bbb;">25-12-2013</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Buyer Only</td>
																	<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Comment of the section here</td>

																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<footer class="page-footer">
	<div class="clearfix row">
		<div class="left left-align col s6">
			<smart-button flat="true" class="editRequest" config='{"title":"EDIT"}' callback=""></smart-button>
		</div>
		<div class="right right-align col s6">
			<smart-button class="right" config='{"title":"SUBMIT REQUEST"}' callback=""></smart-button>
			<smart-button class="right whiteSecondaryBtn marginRight10" config='{"title":"SAVE AS TEMPLATE"}' callback=""></smart-button>
		</div>
	</div>
</footer>
