<!--<div ng-controller="applicableForCtrl">
	<div class="row marginBtm0">
		<div class="col s12 m6 l4 xl3 xxl2 input-field">
			<div class="grey-text fontSize12" ng-show="showFormC">Category</div>
			<span id="categoryApplicaBtn" data-target="categoryApplicable" class="catpopup-title" ng-class="{'marginTop16' : !showFormC}">{{ categoryDatainitialDisplayText }}</span>
		</div>
		<div class="col s12 m6 l4 xl3 xxl2 input-field">
			<div class="grey-text fontSize12" ng-show="showFormBU">Business Unit</div>
			<span id="businessAppliUnitBtn" data-target="businessUnitApplicable" class="catpopup-title" ng-class="{'marginTop16' : !showFormBU}">{{ businessUnitDatainitialDisplayText }}</span>
		</div>
		<div class="col s12 m6 l4 xl3 xxl2 input-field">
			<div class="grey-text fontSize12" ng-show="showRegion">Region</div>
			<span id="regionApplicableBtn" data-target="regionApplicable" class="catpopup-title left" ng-class="{'marginTop16' : !showRegion}">{{ RegionDatainitialDisplayText }}</span>
		</div>
	</div>

	<smart-list-popup template-url="{{smartCatPopupMultiLevel}}" type="small" read-mode-text="Category" default-text="Choose Category" show="showFormC" mode="true" selected-value="categoryData" modal-content="categoryApplicable" modal-button="categoryApplicaBtn" initial-display-text="categoryDatainitialDisplayText"></smart-list-popup>
	<smart-list-popup template-url="{{smartCatPopupMultiLevel}}" type="small" read-mode-text="Business Unit" default-text="Choose Business Unit" show="showFormBU" mode="true" selected-value="businessUnitData" modal-content="businessUnitApplicable" modal-button="businessAppliUnitBtn" initial-display-text="businessUnitDatainitialDisplayText"></smart-list-popup>
	<smart-list-popup template-url="{{smartCatPopupMultiLevel}}" type="small" read-mode-text="Region" default-text="Choose Region" show="showRegion" mode="true" selected-value="region" modal-content="regionApplicable" modal-button="regionApplicableBtn" initial-display-text="RegionDatainitialDisplayText" ></smart-list-popup>
</div>-->


<div ng-controller="applicableForCtrl" class="">
    <div class="row marginBtm0">
        <div class="col s12 m6 l4 xl3 xxl2 input-field marginTop30">
            <label class="active" ng-if="selectedCategoryNodes.length > 0">Category</label>
            <a class="left" href="javascript:void(0)" ng-click="treeOpenCallback('category')">{{selectedCategoriesTxt}}</a>
            <span class="clearfix">
                <span ng-if="selectedCategoriesValidate && !selectedCategoryNodes.length" class="listerrortxt">This is required field.</span>
            </span></div>
        <div class="col s12 m6 l4 xl3 xxl2 input-field marginTop30">
            <label class="active" ng-if="selectedBUNodes.length > 0">Business Unit</label>
            <a class="left" href="javascript:void(0)" ng-click="treeOpenCallback('bu')">{{selectedBUTxt}}</a>
            <span class="clearfix">
                <span ng-if="selectedBUValidate && !selectedBUNodes.length" class="listerrortxt">This is required field.</span>
            </span></div>

        <div class="col s12 m6 l4 xl3 xxl2 input-field marginTop30">
            <label class="active" ng-if="selectedRegionNodes.length > 0">Region</label>
            <a class="left" href="javascript:void(0)" ng-click="treeOpenCallback('region')">{{selectedRegionTxt}}</a>
            <span class="clearfix">
                <span ng-if="selectedRegionValidate && !selectedRegionNodes.length" class="listerrortxt">This is required field.</span>
            </span></div>
    </div>


    <smart-popup template-url="shared/popup/views/smartHierarchyTreeTemplate.html" show="{{showTreePopup}}" on-hide="onPopupHideCallback()" cancel-button="true"></smart-popup>
</div>