<header data-ng-include="'shared/header/views/header.html'"></header>

<div ng-controller="componentCtrl" class="accountDetailPage marginTop30 paddingBtm10 white">
    <div class="row">
        <div class="col s12">
    <h3>modal</h3>
    <div ng-include="'shared/components/views/modal/modal.html'"></div>
    <br />
    <h3>notification</h3>
    <!--notification-->
    <div ng-include="'shared/components/views/notification/notification.html'"></div>
    <br />
    <h3>load more</h3>
    <!--load more-->
    <div ng-include="'shared/components/views/loadMore/loadMore.html'"></div>
    <br />
    <h3>Filter</h3>
    <!--filter-->
    <div ng-include="'shared/components/views/filter/filter.html'"></div>
            <br />
    <h3>Modal content</h3>
    <!--multiple modal Content-->
    <div ng-include="'shared/components/views/modalContent/modalContent.html'"></div>
            <br />
    <h3>Forms</h3>
    <!--forms Content-->
    <div ng-include="'shared/components/views/forms/forms.html'"></div>
            <br />
    <h3>Tabs</h3>
    <!--forms Content-->
    <div ng-include="'shared/components/views/tabs/tabs.html'"></div>
            <br />
    <h3>Attachment</h3>
      <div class="col s12" ng-include="'shared/components/views/attachment/attachment.html'"></div>
            <br />
 <h3>Collections</h3>
  <div class="col s12" ng-include="'shared/components/views/collections/index.html'"></div>
            <br />
   <h3>Cards</h3>
    <!--cards-->
    <section ng-include="'shared/components/views/cards/cards.html'" class="card-page-container row"></section>
            <br />
  <h3>questionnaire</h3>
    <!--all creation Page Content-->
    <div ng-include="'shared/components/views/questionnaire/questionnaire.html'"></div>
    <br />
    <!--all creation Page Content-->
    <h3>catalog item column Grid & list view</h3>
    <div ng-include="'shared/components/views/catalog/index.html'"></div>
            <br />
    <h3> table grid</h3>
    <div ng-include="'shared/components/views/table/table.html'"></div>
	<br />
	<h3>Profile Pic</h3>
	<profile-pic editable="true"></profile-pic>
	<br />
	<h3>Collapsible</h3>
	<div ng-include="'shared/components/views/collapsible/collapsible.html'"></div>
	<br />
	<h3>Search Box</h3>
	<div data-ng-include="'shared/components/views/searchBox/searchBox.html'" style="height: 26%"></div>
	<br />
	<h3>Nav Circles</h3>
	<div data-ng-include="'shared/components/views/navCircle/navCircle.html'"></div>
	<br />
	<h3>Chips</h3>
	<div data-ng-include="'shared/components/views/catalog/chips.html'"></div>
	<br />
            <h3>Chips</h3>
	<div data-ng-include="'shared/components/views/catalog/chips.html'"></div>
            <br />
                <h3>Asider</h3>
            <div data-ng-include="'shared/components/views/asider/asider.html'"></div>
            <br />
            <h3>section Panel</h3>
            <div ng-include="'shared/components/views/section/section.html'"></div>
                <h3>Category</h3>
            <div data-ng-include="'shared/components/views/category/category.html'"></div>
    <hr />
            <br />
            <h3>Tooltip</h3>
            <div ng-include="'shared/components/views/tooltip/tooltip.html'"></div>

            <br />
            <h3>Location</h3>
            <div ng-include="'shared/components/views/location/location.html'"></div>
            
            <br />
            <h3>trackstatus</h3>
            <div ng-include="'shared/components/views/trackstatus/trackstatus.html'"></div>
            <h3>comment popup</h3>
            <div class="row">
              <a class="waves-effect waves-light btn modal-trigger" href="#comment">Open Comment Popup</a><br>
                    <div ng-include="'shared/components/views/comment/comment.html'"></div>
                </div>

            <br />
            <h3>all creation Page Content</h3>
            <div ng-include="'shared/components/views/creationPage/creation.html'"></div>

               



           
            

</div>
        </div>
</div>