  <!-- COMMENT POPUP-->
    <div class="modal" id="comment">
        <div class="modal-header">
            
                  <div class="regularSearch">
                      <a href="#" class="search-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Search" alt="Search">

                          <i class="icon iconSmall grey-text">
                              <svg>
                                  <use xlink:href="#icon_Search"></use>
                              </svg>
                          </i>
                      </a>
                      <a href="#" class="cancel-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Reset" alt="Reset">
                          <i class="icon iconSmall grey-text">
                              <svg>
                                  <use xlink:href="#icon_Close"></use>
                              </svg>
                          </i>

                      </a>
                      <div class="input-field">
                          <input id="Text5" type="text" class="validate" placeholder="Comment">
                      </div>
                  </div>
            <i class="icon iconSmall grey-text left">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Comments"></use>
                </svg>
            </i>
            <span class="title">COMMENT</span>
        </div>
      
        <div class="modal-content padding0 comment-poup-content">
            <div class="row margin0">
            <div class="col s4 ">
                <div class="vertical-tabs">
                <div class="scrollbar-outer" style="min-height:100px; max-height:565px;">
                <ul class="vertical_tab_wrapper">
                 <li>
                     <a href="javscript:void(0)" data-tabUrl="#comment_model_room_requisition" class="is-active vertical__tab">
                         <span>REQUISITION </span> - <span>(3)</span><br/>
                            <span class="small-text">REQ-2016.013110</span>
                         </a>
                     </li>
                    <li>
                        <a href="javscript:void(0)" data-tabUrl="#comment_model_room_order" class="vertical__tab">
                         <span>ORDER </span> - <span>(3)</span><br/>
                            <span class="small-text">ORD-2015.523209</span>
                         </a>
                     </li>
                    <li>
                        <a href="javscript:void(0)" data-tabUrl="#comment_model_room_invoice" class="vertical__tab">
                         <span>INVOICE RECONCILIATION </span> - <span>(3)</span><br/>
                            <span class="small-text">IR-2016.234829</span>
                         </a>
                     </li>
                    
                    </ul>
                 </div>
                    </div>
            </div>
            <div class="col s8">
          <div class="vertical-tabs-content">   
              <div class="vertical_tab_content_wrapper">
                  <div class="scrollbar-outer" style="min-height:350px; max-height:350px;">
                        <div class="alert-massage-absolute-parent">
                          <a href="#" class="alert-warning alert-massage-absolute-top">
                          LOAD EARLIER COMMENTS
                              </a>
                         </div>

                        <!--comment_model_room_requisition-->
                  <ul class="comment-user-box" id="comment_model_room_requisition">
                      
                      <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                              
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                      </ul>
<!--comment_model_room_order-->
                       <ul class="comment-user-box" id="comment_model_room_order" style="display:none;">
                      <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                      </ul>
<!--comment_model_room_invoice-->
                      <ul class="comment-user-box" id="comment_model_room_invoice" style="display:none;">
                      <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                       <li class="other_user_comment">
                          <div class="user_box">
                              <span class="user_name">Joseph Powell</span> <span class="small-text"> - Internal Users</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                          <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>
                      </li>
                      <li class="user_comment">
                         <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                             <svg>
                                 <use xlink:href="#icon_TrashCan"></use>
                                 </svg>
                             </a>
                          <div class="user_box">
                            <span class="small-text">Internal Users and Suppliers</span>
                          </div>
                          <div>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                       Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                       eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui. 
                          </div>
                             <div class="right-align small-text">
                              <span>10/12/2015</span>
                              <span>03:54 PM</span>
                          </div>

                      </li>
                      </ul>


                      </div>
              </div>
                <div class="vertical-tabs-footer">
                  <div class="row vertical_tab_footer_comment_input">
                      <div class="input-field">
                          <smart-textfield place-holder="Enter your comment here" class="comment_input"></smart-textfield>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s7 input-field small-input">
	<smart-select label="Share with"		
				  options='[{"title": "Internal users and suppliers","selected": true}, {"title": "Option-1","selected": false}, {"title": "Option-1","selected": false}]'
	></smart-select>
                     
                      </div>
                    
                      <a href="#!" class=" modal-action modal-close waves-effect btn-flat right-align right">POST</a>
                         <a href="#!" class=" modal-action modal-close waves-effect btn-flat right-align right">CANCEL</a>
                  </div>
              </div>

               </div>
            </div>
                </div>

        </div>
        </div>
<script>
    $(function () {
        /*comment popup*/
        $('.vertical_tab_wrapper').children('li').on("click",
            function () {
                var thisLink = $(this).find('a');
                $(this).siblings().find('a').removeClass('is-active');
                thisLink.addClass('is-active');
                $('.comment-user-box').velocity({ opacity: 0 }, { display: "none" });
                $(thisLink.attr('data-tabUrl')).velocity({ opacity: 1 }, { display: "block" });
            });

        $('.function_delete').on("click",
            function () {
                $(this).parent('.user_comment').velocity("transition.slideRightOut", { display: "none" })
            });
    });
    </script>