<div class="col s12 input-field line-height-manager relative marginTop2 padding0">
    <smart-textfield class="col s10 input-field line-height-manager" label="Copied From" ng-model="CopiedFrom" readonly="true" is-mandatory="true">
    </smart-textfield>
    <a class="col s2 right marginTop10 paddingLeft20" href="javascript:void(0)" ng-click="openProject()">
        <i class="icon" smart-tooltip message="Open Project" position="bottom">
            <svg>
                <use xlink:href="#icon_PopOut2"></use>
            </svg>
        </i>
    </a>
</div>