<div class="row center-align">
	<img ng-src="shared/resources/images/page-not-found.png" class="marginTop25">
	
		<h3 class="errorPage">Page not found</h3>
		<h4 class="grey-text">OH NO!</h4>
		<p>Pluffy ate your page.<br>
Please contact your administrator to get it resolved.<br><br>
	
	<smart-button flat="false" config='{"title":"Go Back To Homepage"}'></smart-button>
</p>
</div>

<div class="error-footer">
    <div class="row">
        <div class="col s6">
            <p>
                Customer Support:<br />
                US: +1 732 428 157 | Email: support@gep.com
            </p>
        </div>
        <div class="col s6">
            <a class="right" href="#!"><img ng-src="shared/resources/images/logo.png"></a>
        </div>
    </div>
</div>