<div class="row">
    <a class="margin10 left"><img ng-src="shared/resources/images/SmartbyGEP.png" src="shared/resources/images/SmartbyGEP.png"></a>
    <a class="margin10 right"><img ng-src="shared/resources/images/MylanLogo.png" src="shared/resources/images/MylanLogo.png"></a>
</div>
<div class="row center-align paddingTop100">
    <svg style="width:560px;height:220px"><use xlink:href="#icon_rejectedVec"></use></svg>
    <div class="bold paddingTop20 fontSize24" style="color: #f44336;">REJECTED</div>
    <h6 class="" style="color: rgba(0, 0, 0, 0.87);">Document has been rejected.</h6>
</div>