<div ng-controller="addActionTypesCtrl">
	<span class="left secHeader">CONDITIONS</span>
	<span class="left" ng-click="showGridView($event);$event.stopPropagation();">
        <span class="left secHeader marginLeft5">-</span>
        <span class="left marginLeft5 marginRight3 black-text">Grid View</span>
        
        <a href="javascript:void(0)">
            <i  class="icon left marginRight0" smart-tooltip message="Change to visual flow" position="bottom">
                <svg><use xlink:href="#icon_Change"></use></svg>
            </i>
        </a>
    </span>
</div>