<!-- card footer template-->
<!--<a ng-if="!expand" class="btn-flat card-button dev_btnShowAll waves-effect" ng-click="expandCard()">{{'showAll' | translate}}</a>
<a href="#form-save-success" type="button" class="btn-flat card-button waves-effect modal-trigger">{{'sendForApproval' | translate}}</a>-->
<smart-button config='showallConfig' background-color='""' flat="true" disable="false" ng-if="!expand" ng-click="toLandingMaxMode(eachCardContent)"></smart-button>
<!-- card footer template-->
<!-- Js Code -->
