<div class="row white card-panel item-details-template-wrap" ng-controller="userProfileCtrl">
  <div class="col s12">
    <div class="col s12 m6 l4 xl3 xxl1">
      <smart-checkbox label="Available for Procurement" ng-model="isProcurement"></smart-checkbox>
    </div>
  </div>
  <div class="col s12 m6 l4 xl3">
      <smart-radio label="" class="col s12" ng-model="selectedcreateUploadOptions" options="createUploadOptions" datakey="name" on-change="onChange1(selectedcreateUploadOptions)" gap="true"></smart-radio>
  </div>
  <!-- create signature -start -->
  <div class="col s12 padding10 createSignature">
    <smart-textfield class="col s12 m6 l4 xl3 xxl2" label="Test Signature"></smart-textfield>
    <smart-select class="col s12 m6 l4 xl3 xxl1" label="Font Size" ng-model="selectedFont" is-mandatory="true" options="fontOptions" datakey="name" on-change="onChange(selectedFont)"></smart-select>
    <div class="col s12 m6 l4 xl3 xxl2 marginTop10">Sample Signature: <span style="font-family: 'Brush Script MT'; font-size: 20px; padding-left: 15px;">test signature</span>
  </div>
  </div>
  <!-- create signature -end -->

  <!-- upload signature -start -->
    <div class="col s12 m6 l4 xl3 xxl2 row file-field ng-hide">
        <a href="javascript:void(0)" class="file-field-title"> UPLOAD <input type="file" multiple=""/></a>
    </div>
 
  <!-- upload signature -end -->
  
  <div class="col s12 padding10">
    <h6 class="col s12">SET SIGNATURE PASSWORD</h6>
    <div class="col s12 padding10">
      <i class="icon grey-text">
        <svg>
          <use xlink:href="#icon_Info"></use>
        </svg>
      </i><span class="fontSize12 grey-text">Password must be of atleast 10 characters, and include an uppercase letter (A-Z), a lowercase letter (a-z), a number (0-9), atleast one special character.</span>
    </div>
    <div class="input-field textbox-with-icon col s12 m4 l4 xl3 xxl2 margin0">
      <i class="icon iconSmall iconFix second-icon" ng-click="hideShowPassword()" smart-tooltip="" message="{{iconChange.hoverText}}" delay="50" position="bottom">
        <svg >
          <use xlink:href="{{iconChange.icon}}"></use>
        </svg>
      </i>
      <smart-textfield  class="col s12 disabledFields" type="{{inputType}}" disabled="false"  label="Old Password"></smart-textfield>
    </div>
    <div class="input-field textbox-with-icon col s12 m4 l4 xl3 xxl2 margin0">
      <i class="icon iconSmall iconFix second-icon" ng-click="hideShowPassword()" smart-tooltip="" message="{{iconChange.hoverText}}" delay="50" position="bottom">
        <svg >
          <use xlink:href="{{iconChange.icon}}"></use>
        </svg>
      </i>
      <smart-textfield  class="col s12 disabledFields" type="{{inputType}}" disabled="false"  label="New Password"></smart-textfield>
    </div>
    <div class="input-field textbox-with-icon col s12 m4 l4 xl3 xxl2 margin0">
      <i class="icon iconSmall iconFix second-icon" ng-click="hideShowPassword()" smart-tooltip="" message="{{iconChange.hoverText}}" delay="50" position="bottom">
        <svg >
          <use xlink:href="{{iconChange.icon}}"></use>
        </svg>
      </i>
      <smart-textfield  class="col s12 disabledFields" type="{{inputType}}" disabled="false" label="Confirm Password"></smart-textfield>
    </div>
  </div>
</div>
