
<div class="row marginZero personalDetails padding0">
    <!---image holder -->

                                <div class="col s12">
                                  <div class="user-profile  is-profile-pic marginLeft0" style="height:300px;"> 
                                      <profile-Pic editable="true" path="" circular="true" dummyimg="{{dummyimg}}"></profile-Pic>
                                  </div>
                                </div>

    <!---image holder -->
    <!--information-->
  <!--    <div class="col l9 m8 s12">
                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="" id="first_name" type="text" class="validate"/>
                                      <label for="first_name" class="active" data-error="{{$label_FU.textRquiredMsg}}">First Name</label>
                                    </div>

                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="Ross" id="last_name" type="text"/>
                                      <label for="last_name" class="active" data-error="{{$label_FU.textRquiredMsg}}">Last Name</label>
                                    </div>
                                
                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="emily.ross@domain.com" id="email" type="email" class="validate"/>
                                      <label for="email"  data-error="{{$label_FU.textRquiredMsg}}" data-success="right" class="active">Email</label>
                                    </div>

                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="emily.ross@domain.com" id="username" type="email" class="validate" disabled="disabled" readonly/>
                                      <label for="username"  data-error="{{$label_FU.textRquiredMsg}}" data-success="right" class="active">Username</label>
                                    </div>

                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="emily.ross@domain.com" id="username" type="email" class="validate" disabled="disabled" readonly=""/>
                                      <label for="username"  data-error="{{$label_FU.textRquiredMsg}}" data-success="right" class="active">Phone 1</label>
                                    </div>

                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="emily.ross@domain.com" id="username" type="email" class="validate" disabled="disabled" readonly=""/>
                                      <label for="username"  data-error="{{$label_FU.textRquiredMsg}}" data-success="right" class="active">Phone 2</label>
                                    </div>
                         
                                 
                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="emily.ross@domain.com" id="deault_category" type="text" class="validate"/>
                                      <label for="deault_category" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Category</label>
                                    </div>
                                    <div class="input-field col s12 m9 l6 xl4 xxl3"> 
                                      <input value="Asia" id="deault_region" type="text"/>
                                      <label for="deault_region" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Region</label>
                                    </div>
                                  
                                    <div class="input-field col s12 m9 l6 xl4 xxl3">
                                      <input value="1700-Avox" id="bu" type="text" class="validate"/>
                                      <label for="bu" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Serving Business Unit</label>
                                    </div>
                                 
                                 </div>



-->



                                 <!-- <div class="row">
                                    <div class="input-field col s12 l6 m12">
                                      <input value="" id="first_name" type="text" class="validate">
                                      <label for="first_name" class="active" data-error="{{$label_FU.textRquiredMsg}}">First Name</label>
                                    </div>

                                    <div class="input-field col s12 l6 m12">
                                      <input value="Ross" id="last_name" type="text">
                                      <label for="last_name" class="active" data-error="{{$label_FU.textRquiredMsg}}">Last Name</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="input-field col s12 l6 m12">
                                      <input value="emily.ross@domain.com" id="email" type="email" class="validate">
                                      <label for="email"  data-error="{{$label_FU.textRquiredMsg}}" data-success="right" class="active">Email</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="input-field col s12 l6 m12">
                                      <input value="emily.ross@domain.com" id="deault_category" type="text" class="validate">
                                      <label for="deault_category" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Category</label>
                                    </div>
                                    <div class="input-field col s12 l6 m12"> 
                                      <input value="Asia" id="deault_region" type="text">
                                      <label for="deault_region" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Region</label>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="input-field col s12 l6 m12">
                                      <input value="1700-Avox" id="bu" type="text" class="validate">
                                      <label for="bu" class="active" data-error="{{$label_FU.textRquiredMsg}}">Deault Serving Business Unit</label>
                                    </div>
                                  </div>-->
                                  <div class="row " id="o-b-h">
                                  </div>
                              </div>

    <!--information end-->
                            </div>

