<div class="setupManager-selactValuePopUp">
    <div class="modal-header">
        <!--<i class="icon iconSmall grey-text left">
            <svg><use xlink:href="#icon_EmailResend"></use></svg>
        </i>-->
        <span class="title">
            SELECT VALUE
        </span>
    </div>

    <div class="modal-content is-scrolled padding0">
        <smart-scroll height="400px">
            <div class="model_body">
                <div class="notification-tab">
                    <div class="row marginBottom0">
                        <!--<smart-textfield class="col s12 active clearfix" label="To" ng-model="notificationNew1.notifyTo"></smart-textfield>
                        <smart-textfield class="col s12 active clearfix" label="Cc" ng-model="notificationNew1.notifyCc"></smart-textfield>-->

                        <ul>
                            <li ng-repeat="value in selectValues">
                                <smart-checkbox fill="true" label="{{value.name}}" ng-model="value.isChecked"></smart-checkbox>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </smart-scroll>

        <div class="modal-footer_new is-scrolled">
            <div class="row marginBottom0">
                <smart-button flat="true" config="{'title':'SAVE'}" class="right marginRight5 modal-close"></smart-button>
                <smart-button flat="true" ng-click="resetSelectValues(selectValues);" config="{'title':'RESET'}" class="right marginRight5"></smart-button>
            </div>
        </div>
    </div>
</div>