<div class="modal-header">
	<span class="title">ADD AS BOOKMARK</span>
</div>
<div class="modal-content paddingTop0">
	<div class="container">
		<div class="row">
			<form class="col s12">
				<div class="row">
					<smart-textfield class="col s12" label="Add a name" ng-model="col" type="text"></smart-textfield>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer right-align">
	<smart-button config='{"title":"ADD"}' flat="true" ng-class="modal-close"></smart-button>
	<smart-button config='{"title":"CANCEL"}' flat="true" ng-class="modal-close"></smart-button>
</div>
