
<div class="trackStatus comment-modal" smart-comment-class-temp ng-controller="commentPopupCtrl">
    <div class="modal-header">
        <a href="javascript:void(0)" ng-if="!withSearchUser" smart-tooltip position="bottom" message="Full Screen" data-position="bottom" data-delay="50" alt="Fullscreen" id="{{showCommentsPopupexpand}}" ng-click="goToTracksatusDetail(e)" class="right blue-text waves-effect waves-light">
            <i class="icon iconSmall">
                <svg>
                    <use xlink:href="#icon_Fullscreen" ng-if="!isFullscreen"></use>
                    <use xlink:href="#icon_Minimize" ng-if="isFullscreen"></use>
                </svg>
            </i>
        </a>
        <div class="valign-wrapper">
            <i class="icon iconSmall grey-text left" ng-if="!withSearchUser">
                <svg>
                    <use xlink:href="#icon_Comments"></use>
                </svg>
            </i>
            <i class="icon iconSmall grey-text left" ng-if="withSearchUser">
                <svg>
                    <use xlink:href="#icon_Reassign"></use>
                </svg>
            </i>
            <span class="title" ng-if="!returnToSupplierFlag && !withSearchUser">COMMENTS</span>
            <span class="title" ng-if="returnToSupplierFlag">RETURN TO SUPPLIER</span>
            <span class="title" ng-if="withSearchUser">REASSIGN ACCEPTER & COMMENT</span>
        </div>
    </div>

    <div class="modal-content padding0 comment-poup-content">
        <div class="model_body">
            <div class="wrapper row marginBtm0 clearfix padding0" ng-class="{'wrapper--withSidebar':!isActive,'marginLeft0':withoutTabSelect}">
                <div class="vertical-tabs-container">
                    <div class="paddingLeft10 paddingBtm10 clearfix" ng-if="withSearchUser">
                        <div class="col s12 marginTop10 marginBtm5 small-text">Select the person whom you want to re-assign this IR to:</div>
                        <smart-select class="col s12 m4 l3 line-height-manager margin0 marginTop10" label="User Type" ng-model="selectedUserType" options="userTypeOptions" datakey="name"></smart-select>
                        <smart-typeahead class="col s12 m4 l3 line-height-manager margin0 marginTop10" label="Select User" multiselect="false" titleofmodel="Select User" show-lookup="true" is-mandatory="true" ng-model="selectUser.selectedUser" options="selectUser.options" filterkeys="['name']" lookup-Open="searchUserLookupOpen(e)" lookup-Hide="searchUserLookupClose(e)"></smart-typeahead>
                    </div>
                    <div class="vertical-tabs" ng-hide="withoutTabSelect">
                        <smart-scroll height="100%" v-offset="{{isFullscreen ? '200px' : '270px'}}" class="sidebar sidebar--left">
                            <ul class="vertical_tab_wrapper">
                                <li ng-repeat="module in modules" class="relative">
                                    <a href="javascript:void(0)" ng-click="modulesetActiveListTab($index)" class="vertical__tab" ng-class="{'is-active' : $index == moduleactiveListTabs}">
                                        <span class="truncate" title="{{module.name}}">{{module.name}}</span>
                                        <span class="vertical-tabs-countcontainer">
                                            <span class="vertical-tabs-countcontainer-title">{{module.count}}</span>
                                        </span>
                                        <span class="small-text">{{module.number}}</span>
                                    </a>
                                </li>

                            </ul>
                        </smart-scroll>

                    </div>
                    <div class="col s12 m12 vertical-tabs-content-container">
                        <div class="vertical-tabs-content">
                            <div class="vertical_tab_content_wrapper" ng-if="!withSearchUser" ng-class="{'is-search-user': isFullscreen && withSearchUser}">
                                <smart-scroll scroll-to-element="{{scrollToElem}}" on-scroll-end="onScrollEndFn()" height="100%" v-offset="{{isFullscreen ? '340px' : '400px'}}">

                                    <div class="alert-massage-absolute-parent">
                                        <a href="javascript:void(0)" class="alert-warning alert-massage-absolute-top">
                                            LOAD EARLIER COMMENTS
                                        </a>
                                    </div>

                                    <div class="comment-tabs-content">
                                        <ul class="comment-user-box">
                                            <li class="clearfix" ng-class="list.commenttype === 'sender' ? 'user_comment': 'other_user_comment'" ng-repeat="list in modules[moduleactiveListTabs].commentData track by $index">

                                            <div class="clearfix comment-notification-container" ng-if="list.status === 'unread' && modules[moduleactiveListTabs].commentData[$index - 1].status === 'read'">
                                                <div class="chip margin0">
                                                    <a class="chips-link">4 Unread Comments</a>
                                                </div>
                                            </div>

                                                <div class="user_comment_container relative" ng-class="{'highlight': sendData.flag}">
                                                    <a ng-if="list.commenttype === 'sender'" href="javascript:void(0)" ng-click="deletemsgFn();" smart-tooltip position="bottom" message="Delete" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" alt="Delete">
                                                        <i class="icon iconSmall">
                                                            <svg>
                                                                <use xlink:href="#icon_TrashCan"></use>
                                                            </svg>
                                                        </i>
                                                    </a>
                                                    <div class="user_box">
                                                        <span ng-if="list.commenttype != 'sender'" class="user_name">{{list.name}}</span>
                                                        <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                                                        <span class="small-text">{{list.commenttype === 'sender' ?list.usertype : '- ' + list.usertype}}</span>
                                                    </div>
                                                    <div>
                                                        {{list.commenttext}}
                                                    </div>
                                                    <div class="right-align small-text user_comment_dateField">
                                                        <span class="paddingRight5">{{list.date}}</span>
                                                        <span>{{list.time}}</span>
                                                    </div>
                                                    <div class="clearfix attachmentcontainer-dropdown-content" ng-if="list.attachment.length">
                                  
                                                        <div callback="callback(data)" add-uploadcallback="adduploadCallback(e, 'comment');" smart-upload-template download-list="list.attachment" attachmenttype="{{list.commenttype == 'sender' ? 'writemode' : 'viewmode'}}"></div>
                                                        <!--<div ng-if="list.commenttype != 'sender'" smart-upload-template download-list="list.attachment" attachmenttype="viewmode"></div>-->
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>


                                </smart-scroll>
                            </div>
                            <div class="vertical-tabs-footer relative clearfix">
                                <div class="vertical-tabs-footer-title">
                                    <div class="padding5 paddingLeft15 truncate small-text" ng-class="{'highlight': shareWithOpts.selectedOption}">
                                        Sharing with: {{shareWithOpts.selectedOption.title}}
                                    </div>
                                </div>
                                <div class="input-field col s12 commentFieldContainer">

                                    <smart-textfield type="area" ng-model="modules[moduleactiveListTabs].commentFieldtitle" charactercounter="true" maxlength="400" on-key-up="commentFieldkeyupFn()" class="col s12 l12  fieldEditable commentField" label="" placeholder="Enter your comment here" cols="40"></smart-textfield>

                                    <div class="clearfix attachmentcontainer-dropdown-content" ng-if="downloadList.length">
                                        <div add-uploadcallback="adduploadCallback(e, 'comment');" smart-upload-template download-list="downloadList" attachmenttype="writemode"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col s12 padding10">
                                        <a href="javascript:void(0)" ng-click="adduploadCallback(e, 'comment')" smart-tooltip position="bottom" message="Add attachments" class="left marginTop3">
                                            <i class="icon iconSmall">
                                                <svg>
                                                    <use xlink:href="#icon_Attachment"></use>
                                                </svg>
                                            </i>
                                        </a>

                                        <smart-dropdown fixed="true">
                                            <a href="javascript:void(0)" class="dropdown-button left paddingLeft15 marginTop3" data-activates="shareWithDropdown{{$parent.$id}}" data-constrainwidth="false">
                                                <i class="icon iconSmall" smart-tooltip position="bottom" message="{{ 'Share' | translate }}">
                                                    <svg><use xlink:href="#icon_Share"></use></svg>
                                                </i>
                                            </a>
                                            <ul id="shareWithDropdown{{$parent.$id}}" class="dropdown-content">
                                                <li ng-repeat="list in shareWithOpts.options" ng-click="shareSelectFn(shareWithOpts,list)">
                                                    <a href="javascript:void(0)" class="grey-text text-darken-4">{{list.title}}</a>
                                                </li>
                                            </ul>
                                        </smart-dropdown>
                                        <div class="right" ng-if="!withSearchUser">
                                            <!-- commentsPopUpOnHideCallback(e,type) : In controller need to handle  -->
                                            <smart-button ng-if="isPostVisible" disable="!modules[moduleactiveListTabs].commentFieldtitle" config='{"title":"POST"}' class="right-align" flat="true" on-click=""></smart-button>
                                            <smart-button ng-if="!isPostVisible" disable="!modules[moduleactiveListTabs].commentFieldtitle" config='{"title":"ACCEPT"}' class="right-align" flat="true" on-click="commentsPopUpOnHideCallback(e,'Close')"></smart-button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer_new padding0 vertical-tabs-footer v-t-footer-with-form-element clearfix comment-poup-footer">
        <div class="row margin0">
            <div class="col s6 m8 marginBtm0  relative" style="position: relative !important;" ng-if="!withSearchUser">
                <!--<smart-select label="Share with" class="col s12 m6 input-field marginBtm0 dropdownOpenUp marginTop5" options="shareWithOpts.options" ng-model="shareWithOpts.selectedOption" ng-hide="withoutTabSelect && !withoutChk"></smart-select>-->
                <smart-checkbox label="Visible for internal users and suppliers" ng-show="withoutTabSelect && !withoutChk" class="marginTop12"></smart-checkbox>
            </div>

            <div class="col s6 m4 right-align marginTop8 right">
                <smart-button config='{"title":"CLOSE"}' class="right-align modal-close" flat="true" ng-click="commentsPopUpOnHideCallback(e, index)" ng-if="!withSearchUser"></smart-button>
                <smart-button config='{"title":"PROCEED"}' class="right-align modal-close" flat="true" ng-click="proceedCallback()" ng-if="withSearchUser"></smart-button>
                <smart-button config='{"title":"REASSIGN"}' class="right-align modal-close" flat="true" ng-click="reassignCallback()" ng-if="withSearchUser"></smart-button>
                <!--<smart-button config='{"title":"POST"}' disable="!commentInpt" class="right-align" flat="true" on-click="postCommentCall(commentInpt)"></smart-button>-->
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="requisition.html">
    <ul class="comment-user-box">

        <li class="other_user_comment clearfix">
            <div class="user_comment_container relative">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Items in this order are needed to fulfill IT requirements for new employees.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span class="paddingRight5">10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container relative">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Please ensure proper receipt done for this supplier, as there were certain items missing in their last order
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span class="paddingRight5">10/12/2015</span>
                    <span>04:02 PM</span>
                </div>

                <div class="clearfix attachmentcontainer-dropdown-content" ng-if="downloadList.length">
                    <div smart-upload-template download-list="downloadList" attachmenttype="viewmode"></div>
                </div>
            </div>
        </li>
        <li class="clearfix">
            <div class="user_comment_container relative" ng-class="{'highlight': sendData.flag}">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" smart-tooltip position="bottom" message="Delete" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" alt="Delete">
                    <i class="icon iconSmall">
                        <svg>
                            <use xlink:href="#icon_TrashCan"></use>
                        </svg>
                    </i>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    As communicated with supplier's representative, the additional documents around product specifications have been attached to this order
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span class="paddingRight5">10/12/2015</span>
                    <span>03:58 PM</span>
                </div>
                <div class="clearfix attachmentcontainer-dropdown-content" ng-if="downloadList.length">
                    <div add-uploadcallback="adduploadCallback(e, 'comment');" smart-upload-template download-list="downloadList" attachmenttype="writemode"></div>
                </div>
            </div>
        </li>

    </ul>
</script>

<script type="text/ng-template" id="order.html">
    <ul class="comment-user-box">
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField ">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
                <div class="attachment-box row " id="attachmentAdd" style="display: none;">
                    <div class="col s12 attachment_items">
                        <a href="javascript:void(0)">File Name.xsl</a>
                        <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                            <svg>
                                <use xlink:href="#icon_ChipRemove"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="clearfix other_user_comment comment-notification-container">
            <div class="chip margin0">
                <a class="chips-link">4 Unread Comments</a>
            </div>
        </li>
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
                <div class="attachment-box row " id="attachmentAdd" style="display: none;">
                    <div class="col s12 attachment_items">
                        <a href="javascript:void(0)">File Name.xsl</a>
                        <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                            <svg>
                                <use xlink:href="#icon_ChipRemove"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="invoice.html">
    <ul class="comment-user-box">
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
                <div class="attachment-box row " id="attachmentAdd" style="display: none;">
                    <div class="col s12 attachment_items">
                        <a href="javascript:void(0)">File Name.xsl</a>
                        <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                            <svg>
                                <use xlink:href="#icon_ChipRemove"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
        <li class="user_comment clearfix">
            <div class="user_comment_container">
                <a href="javascript:void(0)" ng-click="deletemsgFn();" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                    <svg>
                        <use xlink:href="#icon_TrashCan"></use>
                    </svg>
                </a>
                <div class="user_box">
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i>
                    <span class="small-text">Internal Users and Suppliers</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
                <div class="attachment-box row " id="attachmentAdd" style="display: none;">
                    <div class="col s12 attachment_items">
                        <a href="javascript:void(0)">File Name.xsl</a>
                        <a href="javascript:void(0)" class="iconSmall icon right function_delete tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" alt="Delete">
                            <svg>
                                <use xlink:href="#icon_ChipRemove"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="other_user_comment clearfix">
            <div class="user_comment_container">
                <div class="user_box">
                    <span class="user_name">Joseph Powell</span>
                    <i class="icon grey-text iconSize16"><svg><use xlink:href="#icon_Share"></use></svg></i><span class="small-text">- Internal Users</span>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium aliquam ultrices.
                    Proin est ipsum, venenatis id sollicitudin quis, sagittis vitae arcu. Sed bibendum sapien felis,
                    eu venenatis sem vehicula a. Donec et augue in sapien finibus tincidunt rutrum eu dui.
                </div>
                <div class="right-align small-text user_comment_dateField">
                    <span>10/12/2015</span>
                    <span>03:54 PM</span>
                </div>
            </div>
        </li>
    </ul>
</script>



