<div class="modal-header">
	<i class="icon iconSmall grey-text left">
		<svg>
			<use xlink:href="#icon_ContactCard"></use>
		</svg>
	</i>
	<span class="title">Supplier ABC</span>
</div>
<div class="modal-content padding0" >
	<div class="row marginBtm0 padding15">
		<smart-textfield class="col s4 marginBtm25" label="Supplier Code" ng-model="'PC-2016.546.64'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Supplier Status" ng-model="'Registered'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Web Site" ng-model="'www.abc.com'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Doing Business As" ng-model="'YY TT'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="DUNS Number" ng-model="'Not Available'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Owned By" ng-model="'A B C Name'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Diversity Status" ng-model="'Not Available'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Headquartered In" ng-model="'United States'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Business Unit" ng-model="'GEP India'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Supplier Risk Type" ng-model="'Not Available'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Source Type" ng-model="'Not Available'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Primary Contact Name" ng-model="'Zebin'" readonly="true"></smart-textfield>
		<smart-textfield class="col s4 marginBtm25" label="Contact Email ID" ng-model="'zebin.a@suppliersite.com'" readonly="true"></smart-textfield>
	</div>
</div>
<div class="modal-footer">
	<smart-button flat="true" class="modal-close" config='{"title":"DONE"}'></smart-button>
</div>







