<div>
    <div class="modal-header">
        <i class="icon iconSmall grey-text left">
            <svg>
                <use xlink:href="#icon_WishlistAdd"></use>
            </svg>
        </i>
        <span class="title">{{ 'CREATE WISHLIST' || translate }} </span>
    </div>
  
    <div class="modal-content padding0">

        <div class="row">
            <div class="col s12">
                <smart-textfield class="col s12" label="Wishlist Name" ng-model="newWL.name" rules="{{newWL.rules}}"></smart-textfield>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <smart-button flat="true" config='{"title":"CREATE"}' ng-click="createWL(e);" disable="newWL.name == ''"></smart-button>
        <smart-button flat="true" class="modal-close" config='{"title":"CANCEL"}'></smart-button>
    </div>
</div>







