<div class="scrollableModel">
	<div class="modal-header">
		<div class="searchSlideMain searchSlideMain--inputBdrBNone" data-ng-init="mysearch=false;">
			<div class="searchWithHiddenTextField" ng-class="{'active': isActiveM}">
				<a href="javascript:void(0)" ng-class="showMeM" ng-click="columnSearchKey='';hideSearchM()" ng-show="hideCloseM" class="waves-circle waves-effect cancel-icon btn-flat black-text" smart-tooltip position="bottom" message="Close">
					<i class="icon iconSmall center grey-text">
						<svg><use xlink:href="#icon_Close"></use></svg>
					</i>
				</a>
				<smart-textfield ng-model="columnSearchKey" class="input-field" focus="focusSearchSup"></smart-textfield>
				<a href="javascript:void(0)" class="waves-circle waves-effect search-icon btn-flat black-text" smart-tooltip position="bottom" message="Search" ng-click="showSearchM();focusSearchSup=true">
					<i class="icon iconSmall center grey-text">
						<svg><use xlink:href="#icon_Search"></use></svg>
					</i>
				</a>
			</div>
		</div>
		<i class="left icon iconSmall grey-text">
			<svg><use xlink:href="#icon_Lookup"></use></svg>
		</i>
		<span class="title">Select Suppliers ({{selectSupplierData.length}})</span>
	</div>
	<div class="modal-content padding0">
		<table class="fixedTableHeaderShadow">
			
		</table>
		<smart-scroll height="330px" is-fixed-header="true">
			<table class="bordered sTable">
                <thead>
                    <tr>
                        <th class="left-align" style="width:10%;">
                            <smart-checkbox ng-model="selectAllSupplier" smart-selectall data="selectSupplierData|.supplierchk"></smart-checkbox>
                        </th>
                        <th class="left-align" style="width:70%;">
                            <span class="left marginTop4">Supplier Name</span>
                            <a href="javaScript:void(0)">
                                <i class="left icon iconSmall blue-text" smart-tooltip position="bottom" message="{{typeSortIconTooltip}}" ng-click="ascDescToggler(typeSortIcon)">
                                    <svg><use xlink:href="{{typeSortIcon.icon}}"></use></svg>
                                </i>
                            </a>
                        </th>
                        <th class="left-align">
                            <span class="left marginTop4">Participation Status</span>
                            <smart-dropdown class="left" config="{{dropDownConfig}}">
                                <a href="javaScript:void(0)" class="dropdown-button" data-activates="selectSupFilters" data-constrainwidth="false" data-alignment="right">
                                    <i class="icon iconSmall" smart-tooltip position="bottom" message="Filters">
                                        <svg><use xlink:href="#icon_Filter"></use></svg>
                                    </i>
                                </a>
                                <ul id="selectSupFilters" class="dropdown-content dd-close-off">
                                    <li><smart-checkbox label="All" class="padding10"></smart-checkbox></li>
                                    <li><smart-checkbox label="Response Submitted" class="padding10"></smart-checkbox></li>
                                    <li><smart-checkbox label="Response in Progres" class="padding10"></smart-checkbox></li>
                                    <li><smart-checkbox label="Rejected" class="padding10"></smart-checkbox></li>
                                    <li><smart-checkbox label="Acknowledgement Pending" class="padding10"></smart-checkbox></li>
                                </ul>
                            </smart-dropdown>
                        </th>
                    </tr>
                </thead>
				<tbody>
					<tr ng-repeat="selectSupplier in selectSupplierData" style="width:10%;">
						<td  style="width:10%;" class="left-align">
							<smart-checkbox class="supplierchk" ng-model="selectSupplier.checked"></smart-checkbox>
						</td>
						<td class="left-align" style="width:70%;">
							{{selectSupplier.supplierName}}
						</td>
						<td class="left-align" ng-class="{'green-text' : (selectSupplier.statusId === 'responded'), 'red-text' : (selectSupplier.statusId === 'not responded')}">{{selectSupplier.status}}</td>
					</tr>
				</tbody>
			</table>
		</smart-scroll>
	</div>
	<div class="modal-footer modal-footer-normalScroll">
		<div class="row marginBottom0">
			<div class="col s12">
				<div class="right">
					<smart-button flat="true" class="left modal-close" config='{"title":"CANCEL"}'></smart-button>
					<smart-button flat="true" class="left modal-close" config='{"title":"DONE"}'></smart-button>
				</div>
			</div>
		</div>
	</div>
</div>