<div>
    <div class="modal-header">              
        <span class="title">{{ heading }} </span>
    </div>
    <div class="modal-content padding0"  ng-class="{'is-scrolled': true}">
        <div class="model_body">    
            <!--<smart-list model="{{resendOptionList}}"
                        style-class="collection noBorder is-overflowHidden"
                        item-class="collection-item"
                        template="radioResendOptionList.html" height="250px">
            </smart-list>--> 
            <ul class="collection noBorder">
                <li class="collection-item" ng-repeat="item in resendOptionList">
                    <div class="clearfix">
                        <div class="left">
                            <input class="with-gap" type="radio" ng-model="$parent.selectedOption.id" ng-change="resendOptionChange(item)" name="selectOption" ng-value="item.title" id="resendOption-{{ $index }}">
                            <label for="resendOption-{{ $index }}" class="grey-text text-darken-4 truncate">{{ item.title  || translate }}</label>
                        </div>
                        <i class="icon iconSmall blue-text left marginLeft10 marginTop2" ng-if="item.showInfo" smart-tooltip message="{{item.infoMsg}}" position="bottom" delay="50">
                            <svg>
                                <use xlink:href="#icon_Info"></use>
                            </svg>
                        </i>
                        <div class="row " ng-if="item.showControls && item.title == 'Print PDF' && printPdf">
                            
                            <smart-select label="Language" options="languageOptions" ng-model="selectedLanguage" class="col s11 marginTop30 marginLeft20" datakey="name"></smart-select>
                        </div>
                        <div class="row" ng-if="item.showControls && item.title == 'Fax' && isFaxActive ">
                            <smart-textfield label="Fax Number" ng-model="faxNum" class="col s11 marginLeft20"></smart-textfield>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
    <div class="modal-footer paddingLeft8"  ng-class="{'is-scrolled': true}">
        <div class="clearfix">            
            <smart-button flat="true" class="modal-close right" config='{"title":"SEND"}' ng-click="resendOptionSend()"></smart-button>           
        </div>
    </div>
</div>



<script id="radioResendOptionList.html" type="text/ng-template"> 
    <div item="{{item}}" class="clearfix">
        <div class="savedViews">
			<input class="with-gap" type="radio" ng-model="selectedOption.checked" ng-change="resendOptionChange(selectedOption)" name="selectSaveView" ng-value="item.title" id="resendOption-{{ $index }}">
			<label for="resendOption-{{ $index }}" class="grey-text text-darken-4 truncate">{{ item.title  || translate }}</label>			
		</div>       
    </div>
</script>



