

<div id="mapPopup"ng-controller="mapCtrl">
    <div class="modal-header">
        <div class="regularSearch" >
            <a href="javascript:void(0)" class="waves-circle waves-effect wave-blue search-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{$label.search}}" alt="Search">

                <i class="icon iconSmall left grey-text">
                    <svg>
                        <use xlink:href="#icon_Search"></use>
                    </svg>
                </i>
            </a>
            <a href="javascript:void(0)" class="waves-circle waves-effect wave-blue cancel-icon btn-flat black-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{$label.reset}}" alt="Reset">
                <i class="icon iconSmall left grey-text">
                    <svg>
                        <use xlink:href="#icon_Close"></use>
                    </svg>
                </i>
            </a>
            <div class="input-field">
                <input id="pac-input" type="text" class="validate" placeholder="">
            </div>
        </div>
        <i class="icon iconSmall left lineHeight30">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Lookup"></use>
            </svg>
        </i>
        <span class="title">Select Shiping Location</span>


    </div>
    <div class="modal-content padding0">
        <div class="model_body" >
            <div id="map" style="height:336px"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row marginBottom0">
            <div class="col s12">
                <div class="right">
                    <smart-button flat="true" class="left" config='{"title":"CANCEL"}'></smart-button>
                    <smart-button flat="true" class="left" config='{"title":"SEND MAIL "}'></smart-button>
                </div>
            </div>
        </div>
    </div>
</div>