<div class="modal-header">
    <i class="left icon iconSmall grey-text">
        <svg>
            <use xlink:href="#icon_logFile"></use>
        </svg>
    </i>
    <span class="title">{{'VIEW LOG' || translate}}</span>
</div>

<!-- admin catalog create -- item details -- upload attachment popup --  modal body -->
<div class="modal-content padding0 is-scrolled">
    <smart-scroll height="360px" is-fixed-header="true">
        <table class="bordered highlight uploadDownloadLog noTransitionTr">
            <colgroup>
                <col style="width:15%;"/>
                <col style="width:15%;" />
                <col style="width:20%;" />
                <col style="width:20%;" />
                <col style="width:15%;" />
                <col style="width:15%;" />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        {{'Status' || translate}}
                    </th>
                    <th>
                        {{'Operation' || translate}}
                    </th>
                    <th>
                        {{'Message' || translate}}
                    </th>
                    <th>
                        <span>{{'Date & Time' || translate}}</span>
                    </th>
                    <th>
                        {{'Log File' || translate}}
                    </th>
                    <th>
                        {{'File Name' || translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logItem in popupData">
                    <td>
                        <span ng-class="{'green-text': logItem.status == 'Success', 'orange-text': logItem.status == 'In-progress', 'red-text': logItem.status != 'Success' || logItem.status != 'In-progress'}">
                            {{logItem.status}}
                        </span>
                    </td>
                    <td>
                        <div class="truncate">
                            {{logItem.operation}}
                        </div>
                    </td>
                    <td>
                        <div class="truncate">
                            {{logItem.message}}
                        </div>
                    </td>
                    <td>
                        <div class="truncate">
                            {{logItem.dateTime}}
                        </div>
                    </td>
                    <td>
                        <span ng-if="logItem.logFile != 'Download'">
                            {{logItem.logFile}}
                        </span>
                        <a href="javascript:void(0)" class="truncate" ng-if="logItem.logFile == 'Download'">
                            {{logItem.logFile}}
                        </a>
                    </td>
                    <td>
                        <div class="truncate">
                            {{logItem.fileName}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </smart-scroll>
</div>

<!-- admin catalog create -- item details -- upload attachment popup --  modal footer -->
<div class="modal-footer is-scrolled">
    <div class="row marginBottom0">
        <div class="col s12">
            <div class="right">
                <!--<smart-button flat="true" class="left modal-close" config='{"title":"CANCEL"}'></smart-button>-->
                <!--<smart-button flat="true" class="left modal-close" config='{"title":"DONE"}'></smart-button>-->
                <smart-button flat="true" class="left modal-close" config='{"title":"CLOSE"}'></smart-button>
            </div>
        </div>
    </div>
</div>

