<div>
	<div class="modal-header">
		<i class="icon iconSmall left grey-text">
			<svg>
				<use xlink:href="#icon_ToEdit"></use>
			</svg>
		</i>
		<span class="title">{{titleSandPPopup}}</span>
	</div>
	<div class="modal-content padding0 is-scrolled">			

		<div class="row marginTop15 " >			
				<div class="col s12 ">				
					<div class="row  marginBtm0">
						<smart-textfield label="Name"  ng-model="selectedSP.title" class="col s12 m6  line-height-manager"></smart-textfield>
						<smart-textfield label="Code/Rev"  ng-model="selectedSP.codeRev" class="col s12 m6 line-height-manager"></smart-textfield>
					</div>					
					<div class="row">	
						<smart-textfield type="area" i charactercounter="true" maxlength="4000" class="col s12" label="Description" ng-model="selectedSP.fullTxt"></smart-textfield>			 
					</div>	
				</div>		
			</div>	
	</div>
	<div class="modal-footer is-scrolled">
		<div class="row marginBottom0">
			<div class="col s12">
				<div class="right">
					<smart-button flat="true" class="left modal-close" config='{"title":"CANCEL"}'></smart-button>
					<smart-button flat="true" class="left modal-close" config='{"title":"ADD"}' ng-hide="isEditMode" ></smart-button>
					<smart-button flat="true" class="left modal-close" config='{"title":"DONE"}' ng-show="isEditMode"></smart-button>
				</div>
			</div>
		</div>
	</div>
</div>

