<div id="uploadDocPopup" ng-controller="uploadCtrl">
    <div class="modal-header clearfix">
        <i class="icon grey-text iconSmall left">
            <svg>
                <use xlink:href="#icon_ViewExcel"></use>
            </svg>
        </i>
        <span class="title">{{teamPopupTitle}}</span>
    </div>
    <div class="modal-content is-scrolled padding0">
        <div class="model_body">
            <div class="stepper-container">
                <span class="stepper-container-step" ng-repeat="step in steps" ng-class="{'active':step.stepContainer==selectedStep.stepContainer,'disable':step.isDisabled}" ng-click="selectStep(step, $index)">
                    <span class="step-state">
                        <span ng-if="!step.isVisited">{{$index + 1}}</span>
                        <i class="icon icon-small step-icon white-text" ng-if="step.isVisited">
                            <svg>
                                <use xlink:href="#icon_ToEdit"></use>
                            </svg>
                        </i>
                    </span>
                    <span class="step-state-title paddingRight3">{{step.title}}</span>
                    <span class="step-state-title fontSize12 padding0">{{step.optional}}</span>
                </span>
            </div>
            <div ng-show="selectedStep.stepContainer=='uploadExcel'">
                <div class="padding20 col s12 clearfix">
                    <div class="row marginBtm0">
                        <div class="col s12 padding0 marginBtm7"><a href="javascript:void(0);" class="right">Download Template</a></div>
                        <div class="col s12 box-input padding20 box-input-small-height">
                            <div class="valign center">
                                <div class="file-field paddingBtm5 input-field">
                                    <span>Drag and drop file here OR</span><a href="javascript:void(0);" ng-click="uploadSec1AttachmentCall(e);"> Upload Document</a>
                                    <smart-textfield type="file" ng-hide="true"></smart-textfield>
                                </div>
                                <div class="grey-text fontSize12">The file should be in the template provided.</div>
                                <div class="grey-text fontSize12">Supported file formats: xls, xlsx</div>
                                <div class="grey-text fontSize12">Limited to 1 file of 2MB</div>
                            </div>
                        </div>
                    </div>
                    <div class="row  upload-attachment marginBtm0 " ng-show="uploadSec1AttachFlag">
                        <div class="col s12 padding0">
                            <span class="fontSize12 left">Attachment.xls</span>
                            <a href="javascript:void(0);" class="left marginLeft10 marginRight10 fontSize12" ng-show="uploadSec1Fail && !uploadSec1Success" ng-click="uploadSec1RetryCall()">Retry</a>
                            <div class="circle-loading-container left" ng-show="!uploadSec1Fail && !uploadSec1Success">
                                <div class="preloader-wrapper x-small active ">
                                    <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper circle-clipper--x left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper circle-clipper--x right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-click="uploadSec1CloseAttachment()" class="iconAttachmentdelete" ng-show="uploadSec1Success">
                                <i class="icon iconSmall left blue-text marginLeft10" data-delay="50" smart-tooltip position="bottom" message="Delete">
                                    <svg><use xlink:href="#icon_TrashCan"></use></svg>
                                </i>
                            </a>
                            <a href="javascript:void(0);" class="attachment-manage-icon" ng-click="uploadSec1CloseAttachment()" ng-show="!uploadSec1Success">
                                <i class="icon">
                                    <svg>
                                        <use xlink:href="#icon_Close"></use>
                                    </svg>
                                </i>
                            </a>
                            <div class="attachment-info">
                                <span class="grey-text " ng-show="!uploadSec1Fail && !uploadSec1Success">This file will take time to upload, please check the status in the log later</span>
                                <span class="red-text " ng-show="uploadSec1Fail && !uploadSec1Success">The uploaded file exceeds the file size (max 2MB).</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="selectedStep.stepContainer=='addAttachments'">

                <div class="padding20 col s12 clearfix">
                    <div class="row marginBtm0">
                        <div class="col s12 box-input padding20 box-input-small-height">
                            <div class="valign center">
                                <div class="file-field paddingBtm5 input-field">
                                    <span>Drag and drop file here OR</span><a href="javascript:void(0);" ng-click="uploadSec2AttachmentCall(e);"> Upload Document</a>
                                    <smart-textfield ng-hide="true" type="file"></smart-textfield>
                                </div>
                                <div class="grey-text fontSize12">Supported file formats: zip, rar (containing .pdf, .jpg, .jpeg, .png, .tiff, .bmp, .gif)</div>
                                <div class="grey-text fontSize12">Limited to 1 file of 100MB</div>
                            </div>
                        </div>
                    </div>
                    <div class="row  upload-attachment marginBtm0" ng-show="uploadSec2AttachFlag">
                        <div class="col s12 padding0">
                            <span class="fontSize12 left">Attachment.zip</span>
                            <a href="javascript:void(0);" class="left marginLeft10 fontSize12" ng-show="uploadSec2Fail && !uploadSec2Success" ng-click="uploadSec2RetryCall()">Retry</a>
                            <div class="circle-loading-container left" ng-show="!uploadSec2Fail && !uploadSec2Success">
                                <div class="preloader-wrapper x-small active ">
                                    <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper circle-clipper--x left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper circle-clipper--x right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" ng-click="uploadSec2CloseAttachment()" class="iconAttachmentdelete" ng-show="uploadSec2Success">
                                <i class="icon iconSmall left blue-text marginLeft10" data-delay="50" smart-tooltip position="bottom" message="Delete">
                                    <svg><use xlink:href="#icon_TrashCan"></use></svg>
                                </i>
                            </a>
                            <a href="javascript:void(0);" class="attachment-manage-icon" ng-click="uploadSec2CloseAttachment()" ng-show="!uploadSec2Success">
                                <i class="icon">
                                    <svg>
                                        <use xlink:href="#icon_Close"></use>
                                    </svg>
                                </i>
                            </a>
                            <div class="attachment-info">
                                <span class="grey-text " ng-show="!uploadSec2Fail && !uploadSec2Success">This file will take time to upload, please check the status in the log later</span>
                                <span class="red-text " ng-show="uploadSec2Fail && !uploadSec2Success">The uploaded file exceeds the file size (max 100MB).</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer is-scrolled paddingLeft8">
            <smart-button flat="true" class="left" ng-click="backToPrevious(selectedStep.stepContainer)" config='{"title":"BACK"}' ng-hide="firstStep"></smart-button>
            <smart-button flat="true" ng-click="continueToNext(selectedStep.stepContainer)" config='{"title":"CONTINUE"}' ng-hide="lastStep"></smart-button>
            <smart-button flat="true" class="modal-close" config='{"title":"DONE"}' ng-show="lastStep" ng-click="goToLandingPage(onPage, newNode)"></smart-button>
            <smart-button flat="true" class="modal-close" config='{"title":"CANCEL"}'></smart-button>
        </div>
    </div>
</div>
