<div ng-controller="p2pIRExceptionTypeHederCtrl">
	<div class="secHeader clearfix">
        <div class="left headerTextHolder truncate">{{'EXCEPTION TYPE' || translate}}</div>
        <!--<div class="left separator" ng-show="parentScope.exceptionFlag"> - </div>
        <div class="left marginTop10 dropDownCnt" ng-show="parentScope.exceptionFlag">
            
            <smart-dropdown config="{{dropDownConfig}}" class="cursorPointer" stop-prog="true">
                <a href="javascript:void(0)" data-activates='changeType' class="black-text clearfix dropdown-button" data-position="bottom" data-delay="50" data-constrainwidth="false">
                    <span>
                        {{ selectedExcType.name || translate}}
                    </span>
                    <i class="icon iconSmall black-text">
                        <svg>
                            <use xlink:href="#icon_DropArrow"></use>
                        </svg>
                    </i>
                </a>
                <ul id='changeType' class='dropdown-content'>
                    <li ng-repeat="item in excTypeOptions" ng-class="{'active': selectedExcType.name == item.title}">
                        <a href="javascript:void(0)" class="" ng-click="exceptionTypeChange(item)" ng-class="{'blue-text cusror-default': selectedExcType.name == item.name}">
                            {{ item.name || translate }}
                        </a>
                    </li>
                </ul>
            </smart-dropdown>
        </div>-->
    </div>
</div>
