<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="padding-bottom: 25px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th width="60%" align="left" valign="bottom" scope="col">
						<h2 style="color: #5C5C5C;">
							<img src="gepNewLogo.png" alt="" width="196" height="39" /></h2>
					</th>
					<th width="40%" align="center" valign="top" scope="col"></th>
				</tr>
				<tr>
					<!-- company address -->
					<td align="left" valign="top" style="padding-bottom: 25px;vertical-align: top;">
						<table border="0" width="85%" cellspacing="0" cellpadding="0">
							<tr>
								<th width="40%" align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; background:#d9d9d9;">Comapny Address</th>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">Test Content</td>
							</tr>
						</table>
					</td>
					<!-- end comp address-->
					<td align="left" valign="top">&nbsp;</td>
				</tr>
				<tr>
					<td align="left" valign="top" style="padding-bottom: 25px;vertical-align: top;">
						<!-- partnet details -->

						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="40%" colspan="2" align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; background:#d9d9d9;">IR Details</th>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>IR Name:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">IR1 for Comment Invoice</td>

							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>IR Number:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">IR-2016.000566</td>

							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Order Number :</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">16003992</td>
							</tr>

							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Supplier Invoice Number :</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">Comment Invoice 01</td>
							</tr>

							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Supplier Invoice Date :</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">02/11/2016</td>
							</tr>

							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>IR Creation Date :</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">02/11/2016</td>
							</tr>

						</table>

						<!-- end -->
					</td>
					<td align="left" valign="top" style="padding-bottom: 25px;vertical-align: top;">
						<!-- summary -->

						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; background:#d9d9d9;" scope="col">Summary </th>
								<th align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; background:#d9d9d9;" scope="col">Amount ($)</th>
							</tr>
							<tr>
								<td width="62%" align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Item Total</strong></td>
								<td width="38%" align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">3000</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Tax</strong></td>
								<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">0.00</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Shipping and Freight</strong></td>
								<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">0.00</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Other Charges</strong></td>
								<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">10.5</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; ~~isbordervisible~~"><strong>Total Value</strong></td>
								<td align="right" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; ~~isbordervisible~~">3010.5</td>
							</tr>
						</table>

						<!-- end -->
					</td>
				</tr>
				<tr>
					<td align="left" valign="top" style="padding-bottom: 25px;vertical-align: top;">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="40%" colspan="2" align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; background: #d9d9d9;">Buyer Details</th>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Customer:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">DTCC Corp.</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Buyer Contact Name:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">Lead Buyer</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>E-mail / Phone:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">email address, 732-382-6565</td>
							</tr>
						</table>
					</td>
					<td align="left" valign="top" style="vertical-align: top;">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th align="left" colspan="2" valign="top" style="padding: 3px 10px; border: 1px solid #bbb; background: #d9d9d9;" scope="col">Supplier Details</th>
							</tr>
							<tr>
								<td width="43%" align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Supplier Name and Address:</strong></td>
								<td width="57%" align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">GEP, 4th Flr, Bldg. 3, Plot No.3,
									<br />
									TTC Industrial Area, Serene Properties Pvt. Ltd.,
									<br />
									SEZ,MIDC, Thane Belapur Road, Airoli,
									<br />
									Navi Mumbai - 400708<br />
								</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Supplier Contact Name:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">Lead Buyer</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>Supplier Contact Email / Phone:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">email address, 732-382-6565</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;"><strong>REMIT To / Address:</strong></td>
								<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">location + Address</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="padding-bottom: 25px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Payment &amp; Delivery Info</th>
				</tr>
				<tr>
					<td align="left" valign="top" style="padding: 0;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb; background: #f2f2f2;">Ship To Location / Address</th>
								<th align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; background: #f2f2f2;">Bill To Location / Address</th>
								<th align="left" valign="top" scope="col" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; background: #f2f2f2;">Payment Terms</th>
							</tr>
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Test Content</td>
								<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Test Content</td>
								<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb;">Test Content</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="padding-bottom: 25px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Exception Types</th>
				</tr>
				<tr>
					<td align="left" valign="top" style="padding: 0;">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb;">Test Content</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left" valign="top">
			<!-- table 1 -->

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th align="left" valign="top" scope="col" style="padding: 3px 10px; border: 1px solid #bbb; border-bottom: 0; background: #d9d9d9;">Material - Items</th>
				</tr>
				<tr>
					<td align="left" valign="top" style="padding-bottom: 15px; border-top: 1px solid #bbb; padding: 0;">

						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th width="10%" align="center" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;"
									scope="col">Serial No. </th>
								<th width="10%" align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;"
									scope="col">Item Number </th>
								<th width="25%" align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Item Description</th>
								<th width="15%" align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Quantity </th>
								<th width="10%" align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">UOM </th>
								<th width="15%" align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Unit Price($) </th>
								<th width="15%" align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Total (USD)</th>
							</tr>
							<tr>
								<td align="center" valign="top" style="padding: 3px 10px; border-top:none; border: 1px solid #bbb;vertical-align:top;" rowspan="4">1
								</td>
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;"></td>
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">Material Item </td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">10 </td>
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">each </td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">300.00 </td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">3000.00 </td>
							</tr>
							<tr>
								
								<th align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;"
									scope="col">Supplier Item Number</th>
								<th align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Tax Exempt</th>
								<th align="left" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Taxes (USD)</th>
								<th align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Shipping Charges (USD)</th>
								<th align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col">Other Charges (USD)</th>
								<th align="right" valign="top" style="padding: 3px 10px; background: #f2f2f2; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"
									scope="col"></th>
							</tr>
							<tr>
								
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;">&nbsp;</td>
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0</td>
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">6.00</td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00</td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;">0.00 </td>
								<td align="right" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb;"></td>
							</tr>

							<tr>
							
								<td align="left" valign="top" style="padding: 3px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #bbb; border-left: 1px solid #bbb;"
									colspan="6">
									<table style="width:auto;padding:10px 20px;margin-top:10px;">

										<tr>
											<th align="left" valign="top" style="padding: 3px 10px; border-bottom:none;border: 1px solid #bbb;background:#d9d9d9;">Exception Types
											</th>
										</tr>
										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border: 1px solid #bbb;">Quantity/Efforts Exception
											</td>
										</tr>
									</table>


									<table style="width:auto;padding:10px 20px;margin-top:10px;border-bottom:1px solid #bbb;border-left: 1px solid #bbb;">

										<tr>
											<th align="left" valign="top" style="padding: 3px 10px;border-bottom:none; border: 1px solid #bbb;background:#d9d9d9;" colspan="3">Shipping Details
											</th>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Shipping Method
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Ship To
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Address
											</td>
										</tr>


										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">Best Available
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">Chennai
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">MGR Salai, Kandanchavadi , Perungudi, Module #4A, 8th Floor,
Chennai, Other, India
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">&nbsp;
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">Deliver To
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">Deliver To Address
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">&nbsp;
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">&nbsp;
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb">&nbsp;
											</td>
										</tr>



									</table>


									<table style="width:auto;padding:10px 20px;margin-top:10px;border-bottom:1px solid #bbb;border-left: 1px solid #bbb;">

										<tr>
											<th align="left" valign="top" style="padding: 3px 10px;border-bottom:none; border: 1px solid #bbb;background:#d9d9d9;" colspan="4">Other
											</th>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Category
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">BUSINESS TRAVEL
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Billable
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">No
											</td>
										</tr>
                                   </table>


									<table style="width:auto;padding:10px 20px;margin-top:10px;border-bottom:1px solid #bbb;border-left: 1px solid #bbb;">

										<tr>
											<th align="left" valign="top" style="padding: 3px 10px;border-bottom:none; border: 1px solid #bbb;background:#d9d9d9;" colspan="4">Comments
											</th>
										</tr>

										<tr>
											<th align="left" valign="top" style="padding: 3px 10px;border-bottom:none; border: 1px solid #bbb;background:#d9d9d9;" colspan="4">REQ-2016.002699
											</th>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">User Name
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Date and Time
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Visibility
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Comment
											</td>
										</tr>


										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">DTCC1 Admin1
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">February 09, 2016<br/>
10:13:07 AM UTC
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Payable Users only
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Material - AP User Only
											</td>
										</tr>
										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">DTCC1 Admin1
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">February 09, 2016<br/>
10:13:07 AM UTC
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Payable Users only
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Material - AP User Only
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">DTCC1 Admin1
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">February 09, 2016<br/>
10:13:07 AM UTC
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Payable Users only
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Material - AP User Only
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">DTCC1 Admin1
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">February 09, 2016<br/>
10:13:07 AM UTC
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Payable Users only
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Material - AP User Only
											</td>
										</tr>

										<tr>
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">DTCC1 Admin1
											</td>
										
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">February 09, 2016<br/>
10:13:07 AM UTC
											</td>
									
											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Payable Users only
											</td>

											<td align="left" valign="top" style="padding: 3px 10px; border-right: 1px solid #bbb;border-top:1px solid #bbb;">Material - AP User Only
											</td>
										</tr>


                                   </table>
                                </td>
							</tr>
                         </table>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th style="border:1px solid #bbb;background:#bbb;"" colspan="4">
						 Comments
					</th>
				</tr>

				<tr>
					<td style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;"" colspan="4">
						 Invoice: SCN-2016.024827
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 User Name
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Date and Time
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Visibility
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Comment
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;" colspan="4">
						 IR: IR-2016.000566
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 User Name
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Date and Time
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Visibility
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Comment
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;" colspan="4">
						Requisition: REQ-2016.002699
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 User Name
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Date and Time
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Visibility
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Comment
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>


				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						DTCC1 Admin1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 February 11, 2016 12:27:18 PM UTC
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Internal Users
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Header Invoice - Internal Users
					</td>
               </tr>

			</table>
		</td>
	</tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0;">
<tr>
					<th style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;" colspan="8">
						 Quantity /  Effort
					</th>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 Items
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Item Type
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Ordered Quantity / Effort
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Received Quantity / Effort

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Invoiced Quantity / Effort
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						Total Invoiced Quantity / Effort
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						Tolerance
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						  
					</td>
               </tr>

	            <tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 Apple iPad 4
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Material
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 12 each	
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 10 each

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						each12
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						each12
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						5
					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						Accepted  
					</td>
               </tr>

	          

</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0;">
<tr>
					<th style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;" colspan="6">
						Unit Price / Amount
					</th>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 Items
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Item Type
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Ordered Unit Price / Amount ($)
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Invoiced Unit Price / Amount ($)

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Tolerance

					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						
					</td>
 </tr>

			<tr>
					
					<td style="border-top:none;border:1px solid #bbb;">
						Item description comes here
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Material
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						12 each	

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						10.00	

					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						120.00	
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Accept
					</td>
 </tr>

	          

</table>


<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0;">
<tr>
					<th style="border-bottom:none;border:1px solid #bbb;background:#d9d9d9;" colspan="7">
						Item Mismatch
					</th>
               </tr>

				<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						 Sr. No.
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Item 
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Item Type
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Quantity / Effort

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Unit Price / Amount ($)

					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						Item Value ($)
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						
					</td>
 </tr>


	<tr>
					<td style="border-top:none;border:1px solid #bbb;">
						1
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Item description comes here
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						 Material
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						12 each	

					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						10.00	

					</td>

					<td style="border-top:none;border:1px solid #bbb;">
						120.00	
					</td>
					<td style="border-top:none;border:1px solid #bbb;">
						Accepted
					</td>
 </tr>

	          

</table>