<div>
	<div class="modal-header">
		<i class="icon iconSmall red-text ">
			<svg>
				<use xlink:href="#icon_TrackStatus"></use>
			</svg>
		</i>
		<span class="title">SEND TO REQUESTER</span>
	</div>
	<div class="modal-content padding0">
            <div class="row">
                <div class="col s12">
                    <smart-textfield class="col s12" label="Requester Name"></smart-textfield>
                </div>
            </div>
        </div>
	<div class="modal-footer">
        <smart-button flat="true" class="modal-close" config='{"title":"DONE"}'></smart-button>
        <smart-button flat="true" class="modal-close" config='{"title":"CANCEL"}'></smart-button>
	</div>
</div>


