<link type="text/css" href="../plugin/jquery.jscrollpane.css" rel="stylesheet" />
<div class="multi-org">
    <!-- <div class="modal-header">
        <div class="row" style="position:relative;">
            <search-header placeholder="{{search}}" is-active-header="false"></search-header>
            
            <i class="icon iconSmall grey-text left">
                <svg><use xlink:href="#icon_Lookup"></use></svg>
            </i>
            <span class="title">
                MUTI-ORG NEW ENTITY SELECTION
            </span>
        </div>
    </div> -->

    <div class="modal-content padding0">
        <div class="model_body">
            <div class="panelBox-header info-bar">
                <ul class="margin0 info-message clearfix">
                    <li>
                        <p class="clearfix">
                            <i class="icon iconSmall grey-text left">
                                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_Info"></use></svg>
                            </i>
                        </p>
                    </li>
                    <li>
                        <p class="color31">
                            you can make selections from a <b>single</b> organisation/division.
                            You will lose your selections if you make selections from another organisation/divivsion.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="panelBox-body padding0">
                <div class="row margin0">
                    <div class="col s12 m4 padding0">
                        <div class="vertical-tabs">
                            <!-- <smart-scroll height="380px"> -->
                            <div class="jscroll" style="height: 380px;">
                                <ul class="vertical_tab_wrapper">
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix is-active">
                                            <!-- <smart-checkbox fill="true" label="" class="left"></smart-checkbox> -->
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-9" class="filled-in">
                                                <label for="checkbox-9"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 1</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-2" class="filled-in">
                                                <label for="checkbox-2"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 2</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-3" class="filled-in">
                                                <label for="checkbox-3"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 3</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-4" class="filled-in">
                                                <label for="checkbox-4"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 4</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-5" class="filled-in">
                                                <label for="checkbox-5"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 5</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-9" class="filled-in">
                                                <label for="checkbox-9"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 1</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-2" class="filled-in">
                                                <label for="checkbox-2"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 2</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-3" class="filled-in">
                                                <label for="checkbox-3"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 3</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-4" class="filled-in">
                                                <label for="checkbox-4"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 4</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javscript:void(0)" class="vertical__tab paddingBtm15 paddingTop15 clearfix">
                                            <div class="left">
                                                <input type="checkbox" id="checkbox-5" class="filled-in">
                                                <label for="checkbox-5"></label>
                                            </div>
                                            <span class="truncate left" style="width:calc(100% - 75px);">Div-Org 5</span>
                                            <span class="black-text right">1/250</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- </smart-scroll> -->
                        </div>
                    </div>

                    <div class="col s12 m8">
                        <div class="vertical-tabs-content  minHeight-tabs-content padding0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer_new is-scrolled">
            <div class="row marginBottom0">
                <span class="left"><a href="#" class="waves-effect waves-light  btn-flat">RESET</a></span>
                <span class="right"><a href="#" class="waves-effect waves-light  btn-flat">SELECT ITEMS</a></span>
                <span class="right"><a href="#" class="waves-effect waves-light  btn-flat">CANCEL</a></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.jscroll').jScrollPane({autoReinitialise:true});
    });
</script>